<div class="container">
  <div class="row mx-auto">
    <div class="col-7 sm-title">
      <h1>{{ 'Application.CreateNewProject' | translate }}</h1>
    </div>
  </div>
  <form [formGroup]="applicationForm" novalidate>
    <div class="sw-card sw-content">
      <div class="row row-title">
        <h3 class="col-10 offset-1">{{ 'Application.CommonInformation' | translate }}</h3>
      </div>
      <div #name class="row">
        <span class="col-2 offset-1">{{ 'Application.Name' | translate }}</span>
        <input class="form-control col-8" formControlName="name"
               placeholder="{{ 'Application.NamePlaceholder' | translate }}" #required>
      </div>
      <div #category class="row">
        <span class="col-2 offset-1">{{ 'Application.ProjectArea' | translate }}</span>
        <p-dropdown class="form-control col-8" placeholder="{{ 'Application.ProjectAreaPlaceholder' | translate }}"
                    [options]="categories" formControlName="category" #required>
          <ng-template let-item pTemplate="item">
            {{ item.label | translate }}
          </ng-template>
        </p-dropdown>
      </div>
      <div #stage class="row">
        <span class="col-2 offset-1">{{ 'Application.Stage' | translate }}</span>
        <p-dropdown class="form-control col-8" placeholder="{{ 'Application.ProjectAreaPlaceholder' | translate }}"
                    [options]="stages" formControlName="stage" #required>
          <ng-template let-item pTemplate="item">
            {{ item.label | translate }}
          </ng-template>
        </p-dropdown>
      </div>
      <div #country class="row">
        <span class="col-2 offset-1">{{ 'Application.Country' | translate }}</span>
        <p-dropdown class="form-control col-8" placeholder="{{ 'Application.ProjectAreaPlaceholder' | translate }}"
                    [options]="countries" formControlName="country" #required>
          <ng-template let-item pTemplate="item">
            {{ item.label | translate }}
          </ng-template>
        </p-dropdown>
      </div>
      <div #description class="row">
        <span class="col-2 offset-1">{{ 'Application.Description' | translate }}</span>
        <textarea class="form-control col-8" formControlName="description"
                  placeholder="{{ 'Application.DescriptionPlaceholder' | translate }}" #required>
        </textarea>
      </div>
      <div #webSite class="row" style="margin-bottom: 3em;">
        <span class="col-2 offset-1">{{ 'Application.Website' | translate }}</span>
        <input class="form-control col-8" formControlName="website"
               title="Include http://" placeholder="http://">
      </div>
      <div class="row" style="margin-bottom: 3em;">
        <span class="col-2 offset-1">{{ 'Application.WhitePaperLink' | translate }}</span>
        <input class="form-control col-8" formControlName="whitePaperLink"
               title="Include http://" placeholder="http://">
      </div>
      <div class="row" style="margin-bottom: 3em;">
        <span class="col-2 offset-1">{{ 'Application.IcoDate' | translate }}</span>
        <p-calendar [showIcon]="true" class="padding-zero col-4" formControlName="icoDate" #required></p-calendar>
      </div>
      <div #contactEmail class="wp-link  row">
        <span class="col-2 offset-1">{{ 'Application.ContactEmail' | translate }}</span>
        <input class="form-control col-8" formControlName="contactEmail"
               placeholder="{{ 'Application.ContactEmailPlaceholder' | translate }}" #required>
      </div>
    </div>
    <div class="sw-card sw-content">
      <div class="row row-title">
        <h3 class="col-10 offset-1">{{ 'Application.SocialMedia' | translate }}</h3>
      </div>
      <div class="row">
        <span class="col-2 offset-1">{{ 'Application.Network' | translate }}</span>
        <p-dropdown class="form-control col-8" placeholder="{{ 'Application.ProjectAreaPlaceholder' | translate }}"
                    [options]="socials" formControlName="social"></p-dropdown>
      </div>
      <div class="row" style="margin-bottom: 3em;">
        <button>
          +{{ 'Application.AddMore' | translate }}
        </button>
      </div>
    </div>
    <div class="sw-card sw-content">
      <div class="row row-title">
        <h3 class="col-10 offset-1">{{ 'Application.Team' | translate }}</h3>
      </div>
      <div class="row">
        <span class="col-2 offset-1">{{ 'Application.Network' | translate }}</span>
        <p-dropdown class="form-control col-8" placeholder="{{ 'Application.ProjectAreaPlaceholder' | translate }}"
                    [options]="socials" formControlName="social"></p-dropdown>
      </div>
      <div class="row" style="margin-bottom: 3em;">
        <button>
          +{{ 'Application.AddMore' | translate }}
        </button>
      </div>
    </div>
    <div class="row">
      <button (click)="onSaveAsync()" [disabled]="isProjectCreating" class="col-3 btn btn-primary">
        {{ 'Application.Save' | translate }}
      </button>
    </div>
  </form>
</div>
