.row {
  margin: 1em 0em;
}

.row > span {
  padding-top: 0.6em;
  padding-right: 1.5em;
}

.row-title {
  margin: 2em 0em;
}

.row-primary {
  background-color: rgb(248, 248, 248);
}

.row-content {
  padding-bottom: 1em;
}

.btn {
  cursor: pointer;
  padding-top: 1em;
  padding-bottom: 1em;
}

.is-active .row-content {
  display: block;
}

.submit-btn, .finance-btn, .legal-btn, .team-btn {
  display: none;
}

.sw-members > div{
  padding-top: 1em;
  padding-bottom: 1em;
}

.sw-members > div:nth-child(1), .sw-members > div:nth-child(3), .sw-members > div:nth-child(5){
  /*background: #f8f8f8;*/
}

.main-btn {
  display: none;
}

.row-content {
  display: none;
}

textarea {
  height: 10em;
  resize: none;
}

label.mat-checkbox-layout > div.mat-checkbox-inner-container {
margin-left: 6.2em;
}
