<div class="container">
  <div class="row mx-auto">
    <div class="col-8 scorring-desc">
      <h1>Smart valley mvp</h1>
      <p>
        Angular Material tabs organize content into separate views where only one view can be visible at a time. Each tab's label is shown in the tab header and the active tab's label is designated with the animated ink bar. When the list of tab labels exceeds the width of the header, pagination controls appear to let the user scroll left and right across the labels.
      </p>
    </div>
    <ngb-tabset class="col-12 scorring-projects">
      <ngb-tab class="col-3" title="Project for scroing">
        <ng-template ngbTabContent>
          <span class="choose">Choose expertise</span>
          <mat-tab-group>
            <mat-tab label="HR">
              <div class="card col-12 scorring-card" *ngFor="let scorring of scorrings;">
                <div class="card-block scorring-card-block">
                  <div class="scorring-header col-4">
                    <img style="width: 100px;" src="{{scorring.projectImgUrl}}"/>
                    <div class="scorring-header__title">
                      <span>{{scorring.projectName}}</span>
                      <span class="scorring-header__country">{{scorring.projectCountry}}</span>
                      <span>{{scorring.projectArea}}</span>
                    </div>
                  </div>
                  <div class="scorring-content col-5">
                    <p class="card-text">{{scorring.projectDescription}}</p>
                  </div>
                  <div class="scorring-footer col-3">
                    <div class="scorring-rating">
                      <span>Scoring rating:</span>
                      <span class="score">{{scorring.scoringRating}}</span>
                    </div>
                    <a href="#" class="col-12 scorring-btn btn btn-primary">View report</a>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Lawyer">
              <h1>Some more tab content</h1>
              <p>...</p>
            </mat-tab>
            <mat-tab label="Analyst">
              <h1>Some more tab content</h1>
              <p>...</p>
            </mat-tab>
            <mat-tab label="Technical expert">
              <h1>Some more tab content</h1>
              <p>...</p>
            </mat-tab>
          </mat-tab-group>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="My projects">
        <ng-template ngbTabContent>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
