.scorring-header{
  display: inline-block;
  padding: 0;
}
.scorring-header__country{
  color: rgba(0,0,0,0.5);
}
.scorring-header__title > span{
  display: block;
  margin: 5px 0px;
}
.scorring-header__title > span:first-child{
   font-size: 1.5em;
 }
.scorring-footer{
  text-align: right;
  max-width: calc(25% - 8px);
  display: inline-block;
  padding: 0;
  position: absolute;
  height: 100%;
}
.scorring-rating{
  display: inline-block;
}
.scorring-rating > span{
   display: block;
 }
.scorring-footer > a{
  float:right;
}
.scorring-desc{
  margin-bottom: 60px;
  color: white;
  padding: 0;
}
.scorring-content{
  display: inline-block;
  padding: 0;
}
.scorring-projects{
  flex: inherit;
  max-width: none;
  margin-left: -75px;
  margin-right: -75px;
  width: calc(100% + 165px);
}
.scorring-desc h1{
  letter-spacing: 7px;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.scorring-card{
  display: inline-block;
  margin: 0px;
  padding: 0px;
  margin-bottom: 1rem;
}
.scorring-btn{
  background-color: rgb(72, 138, 232) !important;
  padding-bottom: 1em;
  padding-top: 1em;
  bottom: 40px;
  right: 40px;
  position: absolute;
  }
.scorring-card-block{
  position: relative;
  padding: 0px;
}
.scorring-card-block > div{
  padding: 40px;
  vertical-align: top;
 }
.scorring-rating > .score{
  font-size: 1.5em;
}
