<div *ngIf="!isProjectExists" class="content">
  <h1 class="title">{{ 'MyProject.Title' | translate }}</h1>
</div>
<div *ngIf="isProjectExists" class="content">
  <h1 class="title">{{ project.name }}</h1>
  <app-project-info *ngIf="project" [project]="project">
    <a (click)="acceptOfferAsync()" class="main-btn">{{ 'OfferDetails.Accept' | translate }}</a>
    <a (click)="declineOfferAsync()" class="ghost-btn">{{ 'OfferDetails.Refuse' | translate }}</a>
    <div class="area">
      <div class="text">{{ 'OfferDetails.NeedToScore' | translate }}:</div>
      <strong>{{area.name}}</strong></div>
  </app-project-info>
  <app-project-about [projectId]="project.id"></app-project-about>
</div>
