<app-search-with-autocomplete></app-search-with-autocomplete>
<div class="content">
  <p-table [value]="scoredProjects">
    <ng-template pTemplate="header">
      <tr>
        <th class="table__main-col">{{ 'Landing.RecentlyScored' | translate }}</th>
        <th>{{ 'Landing.Country' | translate }}</th>
        <th>{{ 'Landing.ProjectArea' | translate }}</th>
        <th>{{ 'Landing.ScoringDate' | translate }}</th>
        <th>{{ 'Landing.ScoringRating' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>
      <tr>
        <td class="project-name"><a [routerLink]="getProjectLink(project.id)" >{{project.name}}</a></td>
        <td>{{project.country}}</td>
        <td>{{project.area}}</td>
        <td>{{project.scoringEndDate}}</td>
        <td class="scoring-col">{{project.score | roundNumberPipe}}/100</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
      <tr>
        <td class="bottom-link" colspan="5"><a [routerLink]="'/' + projectsLink">{{ 'Landing.SeeAll' | translate }}</a></td>
      </tr>
    </ng-template>
  </p-table>
</div>
