<app-search-with-autocomplete></app-search-with-autocomplete>
<div class="content">
  <p-table [value]="projects">
    <ng-template pTemplate="header">
      <tr>
        <th class="table__main-col">{{ 'Landing.RecentlyScored' | translate }}</th>
        <th>{{ 'Landing.Country' | translate }}</th>
        <th>{{ 'Landing.ProjectArea' | translate }}</th>
        <th>{{ 'Landing.ScoringDate' | translate }}</th>
        <th>{{ 'Landing.ScoringRating' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project>
      <tr (click)="navigateToProject(project.id)">
        <td class="project-name"><a [routerLink]="getProjectLink(project.id)">{{project.name}}</a></td>
        <td>{{ 'Countries.' + project.country | translate }}</td>
        <td>{{ 'Categories.' + project.category | translate }}</td>
        <td *ngIf="project.scoringEndDate; else elseEndDate" >{{ project.scoringEndDate | date:'yyyy-MM-dd' }}</td>
        <ng-template #elseEndDate>
          <td>&mdash;</td>
        </ng-template>
        <td *ngIf="project.score; else elseScore" class="scoring-col">{{project.score | roundNumberPipe}}/100</td>
        <ng-template #elseScore>
          <td class="scoring-col">&mdash;</td>
        </ng-template>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
      <tr>
        <td class="bottom-link" colspan="5"><a [routerLink]="'/' + projectsLink">{{ 'Landing.SeeAll' | translate }}</a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
