<div class="container">
  <div class="row mx-auto">
    <div class="col-8 sm-title">
      <h1>{{ 'Common.Title' | translate }}</h1>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-3 sv-description d-flex align-items-end">
      <h2>{{ 'Landing.ScoredProjects' | translate }}</h2>
    </div>
    <div class="col-9 btn-grp text-right">
      <button *ngIf="canVote" mat-raised-button class="col-3 sm-btn-primary btn-space" (click)="navigateToVoting()">{{
        'Landing.VoteForFreeScoring' | translate }}
      </button>
      <button mat-raised-button class="col-3 sm-btn-primary btn-space" (click)="navigateToScoring()">{{
        'Landing.BecomeAnExpert' | translate }}
      </button>
      <button mat-raised-button class="col-3 sm-btn-primary btn-space" (click)="createProject()">{{
        'Landing.ApplyProject' | translate }}
      </button>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="sw-list-projects">
      <div class="card_no_shdw col-12 sw-card" style="margin: 0 0 20px 0" *ngFor="let project of scoredProjects;">
        <app-project-card [data]="project" [type]="ProjectCardType.General"></app-project-card>
      </div>
    </div>
  </div>
</div>
