<div class="expert-score-items-wrapper">
  <div class="row">
        <span class="col-6">
          <mat-checkbox align="start" name="available" name="available" [(ngModel)]="isAvailable" [(value)]="isAvailable"
                        (change)="toggleAvailabilityAsync($event)">
            {{ 'expertOffers.AvailableForWork' | translate }}
          </mat-checkbox>
        </span>
  </div>
  <div *ngFor="let expertItem of expertOffers" class="expert-score-item">
    <div class="name">
      <p>
        <img class="project-image" [src]="getOfferImage(expertItem.scoringContractAddress)" alt="{{expertItem.description}}">
      </p>
      <p class="project-name-description">{{expertItem.name}}</p>
      <p class="project-name-description">{{expertItem.country}}</p>
      <p class="project-name-description">{{expertItem.projectArea}}</p>
    </div>
    <div class="description">
      {{expertItem.description}}
    </div>
    <div class="scoring-control">
      <p>{{ 'expertOffers.Till' | translate }} {{expertItem.scoringOfferTimestamp}}</p>
      <p>
        <button mat-raised-button (click)="acceptOffer(expertItem.projectExternalId, expertItem.scoringId, expertItem.areaId)" class="sv-default-btn btn-space">
          {{ 'expertOffers.Accept' | translate }}
        </button>
      </p>
      <p>
        <button mat-raised-button (click)="declineOffer(expertItem.projectExternalId, expertItem.scoringId, expertItem.areaId)" class="sv-default-btn btn-space">
          {{ 'expertOffers.Decline' | translate }}
        </button>
      </p>
    </div>
  </div>
</div>
