.main-btn, .ghost-btn {
  height: 35px;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 200px;
  margin-bottom: 20px;
  float: right;
  clear: both;
}

.ghost-btn {
  color: #000;
}

.lock-icon {
  font-size: 15px;
  line-height: 1.4;
  vertical-align: bottom;
}

.transaction-btn {
  font-size: 12px;
  padding: 5px 0px 0px;
  height: 30px;
  width: 190px;
}

.short-transaction-btn {
  font-size: 12px;
  padding: 5px 0px 0px;
  height: 30px;
  width: 100px;
}

.small-title {
  font-family: Roboto-Regular;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.33;
  text-align: right;
  color: #a4a2b0;
  float: right;
  clear: both;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    float: left;
  }
}

.score {
  .score__label {
    margin-bottom: 10px;
  }
  font-family: Roboto-Regular;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.2px;
  text-align: right;
  color: #a4a2b0;
  float: right;
  clear: both;
  margin-top: 8px;
  margin-bottom: 24px;
}

.score__attention {
  font-size: 36px;
}

.score .main-number {
  color: #5d49f2;
  display: inline-block;
}

.progress-scoring {
  color: #5d49f2;
}

.control-info-wrapper {
  @media screen and (min-width: 320px) and (max-width: 768px) {
    margin: 0 auto;
    .score {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
}
