<div *ngIf="!isProjectExists" class="content">
  <h1 class="title">{{ 'MyProject.Title' | translate }}</h1>
</div>
<div *ngIf="isProjectExists" class="content">
  <h1 class="title">{{ project.name }}</h1>
  <app-project-info *ngIf="project" [project]="project">
    <div [ngSwitch]="project.scoring.scoringStatus">
      <div *ngSwitchCase="ScoringStatusFinished">
        <div class="small-title">{{ 'MyProject.ProjectScore' | translate }}</div>
        <div class="score">
            <div class="main-number">{{project.scoring.score | roundNumberPipe}}</div>/100
        </div>
        <a *ngIf="isAuthor" [routerLink]="'/' + editProjectsLink" class="ghost-btn">{{ 'MyProject.EditInformation' | translate }}</a>
      </div>
      <div *ngSwitchCase="ScoringStatusInProgress">
        <div class="score" style="font-size: 20px;">
          {{ 'MyProject.InProgress' | translate }}
        </div>
        <div class="score" style="font-size: 20px;">
          {{scoringCompletenessInPercents}}{{ 'MyProject.CompletenessInPercents' | translate }}
        </div>
      </div>
      <div *ngSwitchCase="ScoringStatusPending">
        <div *ngIf="isAuthor">
          <a *ngIf="!project.isApplicationSubmitted; else submitedBlock;" (click)="navigateToApplicationScoringAsync()"
             class="main-btn">{{ 'MyProject.GetScore' | translate }}</a>
          <ng-template #submitedBlock>
            <span (click)="navigateToPaymentAsync()" class="main-btn">{{ 'MyProject.SendScore' | translate }}</span>
          </ng-template>
          <a [routerLink]="'/' + editProjectsLink" class="ghost-btn">{{ 'MyProject.EditInformation' | translate }}</a>
        </div>
      </div>
    </div>
  </app-project-info>
  <mat-tab-group [selectedIndex]="selectedTab">
    <mat-tab label="{{ 'MyProject.About' | translate }}">
      <app-project-about [projectId]="projectId"></app-project-about>
    </mat-tab>
    <mat-tab *ngIf="isScoringApplicationTabAvailable" label="{{ 'MyProject.ScoringApplication' | translate }}">
      <app-scoring-application [projectId]="projectId"></app-scoring-application>
    </mat-tab>
    <mat-tab label="{{ 'MyProject.ScoringReport' | translate }}">
      <app-scoring-report [scoringStatus]="project.scoring.scoringStatus" [projectId]="projectId"></app-scoring-report>
    </mat-tab>
  </mat-tab-group>
</div>
