<div [formGroup]="form">
  <input (focus)="searchInputFocusStatusSwitch(true); showSelectList();"
         (focusout)="searchInputFocusStatusSwitch(false); hideSelectList();"
         [class.select-__input_focused]="selectedInput"
         (input)="onSelectInputChange()"
         [(ngModel)]="selectedItemId"
         [formControlName]="elementName"
         [placeholder]="placeholder" type="text" class="input project-select-input" id="{{elementId}}" name="{{elementName}}">
  <ul (mouseenter) ="selectListHoverStatusSwitch(true) "  (mouseleave) ="selectListHoverStatusSwitch(false); hideSelectList();"
      class="select-list" [class.hidden]="isAutocompleteHidden">
    <li (click)="clearItems()" class="select-item">
      <p class="select-item-name select-item-name__off">{{ 'Select.NoSelected' | translate }}</p>
    </li>
    <li *ngFor="let item of items" (click)="selectItem(item.label, item.value)" class="select-item">
      <p class="select-item-name">{{item.label | translate}}</p>
    </li>
  </ul>
</div>
