<div>
  <h2 mat-mat-title>{{'ExpertsCountSelectionModal.Title' | translate}}</h2>
  <hr>
  <div *ngFor="let areaSettings of data.settings;" class="row">
    <span class="col-3">{{ExpertiseAreaType[areaSettings.area]}}:</span>
    <mat-slider class="col-7"
                style="margin-left: 1em"
                min="3"
                max="6"
                step="1"
                tickInterval="auto"
                [(ngModel)]="areaSettings.expertsCount">
    </mat-slider>
    <span class="col-1">{{areaSettings.expertsCount}}</span>
  </div>
  <mat-dialog-actions class="d-flex justify-content-center">
    <button mat-raised-button (click)="submit()" class="col-2 sv-default-btn btn-space">{{'ExpertsCountSelectionModal.Submit' | translate}}</button>
  </mat-dialog-actions>
</div>
