<div class="container">
  <div class="row mx-auto">
    <div class="col-10 sm-title">
      <h1 class="">{{ 'Account.Title' | translate }}</h1>
      <img src="{{accountImgUrl}}" style="width: 128px;"/>
      <span style="margin-left: 2em; font-family: 'AvenirNextCyr-Bold', sans-serif; font-size: 1.4em;">{{accountAddress}}</span>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="{{ 'Account.BasicInformation' | translate }}">
      <div style="color: white">
        <form [formGroup]="userForm" novalidate>
          <div class="row">
            <span class="col-2 offset-1">{{ 'Account.Name' | translate }}:</span>
            <input class="form-control col-4" formControlName="name" #required>
          </div>
          <div class="row" style="padding-top: 1em">
            <span class="col-2 offset-1">{{ 'Account.About' | translate }}:</span>
            <textarea class="form-control col-4" formControlName="about" #required></textarea>
          </div>
          <div class="col-8 offset-5" style="padding-top: 1em">
            <button (click)="saveChangesAsync()" class="col-3 btn btn-primary">
              {{ 'Account.SaveChanges' | translate }}
            </button>
          </div>
          <hr>
          <div class="row">
            <span class="col-2 offset-1">{{ 'Account.Email' | translate }} {{accountEmail}}</span>
            <button mat-raised-button (click)="changeEmailAsync()" class="col-1 sv-default-btn btn-space">
              {{'Account.Change' | translate}}
            </button>
          </div>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'Account.Balances' | translate }}">
      <div style="color: white;">
        <div class="row">
          <strong class="col-10" style="margin-bottom: 0.5em; margin-top: 0.5em;">{{'Account.AvailableBalances' | translate }}</strong>
        </div>
        <div class="row">
          <span class="col-2">ETH: {{currentBalance}} </span>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
