<div class="container">
  <div class="row mx-auto">
    <div class="col-7 sm-title">
      <h1>Account</h1>
    </div>
  </div>
  <div class="sw-card sw-content">
    <div class="row row-title">
      <div class="col-10 offset-1">
        <img src="{{accountImgUrl}}" style="width: 128px;"/>
        <span style="margin-left: 2em; font-family: 'AvenirNextCyr-Bold', sans-serif; font-size: 1.4em;">{{accountAddress}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-10 underline"></div>
    </div>
    <div class="row">
      <strong class="col-10 offset-1" style="margin-bottom: 0.5em; margin-top: 0.5em;">{{ 'Account.AvailableBalances' | translate }}</strong>
    </div>
    <div class="row">
      <span class="col-2 offset-1">ETH: {{currentBalance}}</span>
      <span class="col-3 offset-1">SVT: {{currentTokens}}
        <div class="account-tooltip" [matTooltip]="'Account.SVTBalanceTooltip' | translate" matTooltipPosition="above">
          <i class="material-icons">help_outline</i>
        </div>
        </span>
    </div>
    <div class="row" style="margin-top: 1em;">
        <span class="col-3 offset-4">{{ 'Account.TransferableSVT' | translate }} {{currentTokens}}
        <div class="account-tooltip" [matTooltip]="'Account.TransferedTooltip' | translate" matTooltipPosition="above">
          <i class="material-icons">help_outline</i>
        </div>
        </span>
    </div>
    <div class="row">
        <span class="col-3 offset-4">{{ 'Account.FreezedSVT' | translate }} 0
        <div class="account-tooltip" [matTooltip]="'Account.FreezedTooltip' | translate" matTooltipPosition="above">
          <i class="material-icons">help_outline</i>
        </div>
        </span>
    </div>
    <div class="row">
      <div class="col-10 underline"></div>
    </div>
  </div>
</div>

