<div class="content">
  <form (ngSubmit)="saveAsync()" [formGroup]="userForm" novalidate>
    <h1 class="title">{{ 'Account.Title' | translate }}</h1>
    <h2 class="settings-title">{{ 'Account.MainInformation' | translate }}</h2>
    <div class="settings-block">
      <div class="control-row">
        <label class="control-label">
          <div class="control-label__title">{{ 'Account.FirstName' | translate }}</div>
          <input class="input wide-input" formControlName="firstName"
                 placeholder="{{ 'Account.FirstNamePlaceHolder' | translate }}">
        </label>
        <label class="control-label">
          <div class="control-label__title">{{ 'Account.SecondName' | translate }}</div>
          <input class="input wide-input" formControlName="secondName"
                 placeholder="{{ 'Account.SecondNamePlaceHolder' | translate }}">
        </label>
      </div>
      <div class="control-row">
        <label class="control-label">
          <div class="control-label__title">{{ 'Account.Email' | translate }}</div>
          <input class="input wide-input" formControlName="email"
                 placeholder="{{ 'Account.EmailPlaceHolder' | translate }}">
          <p class="input-attention">{{ 'Account.EmailAttention' | translate }}</p>
        </label>
      </div>
    </div>
    <div *ngIf="isExpert">
      <h2 class="settings-title">{{ 'Account.Bio' | translate }}</h2>
      <div class="settings-block">
        <div class="control-row">
          <label class="control-label">
            <div class="control-label__title">{{ 'Account.AboutTitle' | translate }}</div>
            <textarea class="input wide-input" type="text" formControlName="about"></textarea>
          </label>
        </div>
      </div>
    </div>
    <input type="submit" class="main-btn save-btn"
           value="{{ 'Account.Save' | translate }}">
  </form>
</div>
