.control-row {
  margin-bottom: 20px;
}

.control-row:last-child {
  margin-bottom: 0;
}

.control-label {
  height: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

.control-label__title {
  margin-bottom: .5rem;
}

.input-attention {
  font-size: 12px;
  color: #a4a2b0;
  margin: 5px 0 0;
}

.save-btn {
  margin: 30px 0;
  width: 100px;
}

.settings-block {
  background: #fff;
  padding: 16px 40px;
}

.settings-block:last-child {
  margin-bottom: 0;
}



