<div>
  <div class="sw-card sw-content shift">
    <div *ngIf="showBasicInfoCaption" class="row row-title">
      <h3 class="col-10 offset-1">{{ 'ProjectInformation.BasicInformation' | translate }}</h3>
    </div>
    <div class="row">
      <span class="col-3 offset-1">{{ 'ProjectInformation.Name' | translate }}:</span>
      <span class="col-8">{{projectDetails.name | dashIfEmpty}}</span>
    </div>
    <div class="row">
      <span class="col-3 offset-1">{{ 'ProjectInformation.ProjectArea' | translate }}:</span>
      <span class="col-8">{{projectDetails.area | dashIfEmpty}}</span>
    </div>
    <div class="row">
      <span class="col-3 offset-1">{{ 'ProjectInformation.Description' | translate }}:</span>
      <span class="col-8">{{projectDetails.description | dashIfEmpty}}</span>
    </div>
    <div class="row">
      <span class="col-3 offset-1">{{ 'ProjectInformation.Status' | translate }}:</span>
      <span class="col-8">{{projectDetails.status | dashIfEmpty}}</span>
    </div>
    <div class="row">
      <span class="col-3 offset-1">{{ 'ProjectInformation.WhitePaperLink' | translate }}:</span>
      <app-nullable-link [href]="projectDetails.whitePaperLink" class="col-8"></app-nullable-link>
    </div>
  </div>
  <div class="sw-card sw-content shift">
    <div class="row row-title">
      <h3 class="col-10 offset-1">{{ 'ProjectInformation.Team' | translate }}</h3>
    </div>
    <div *ngFor="let member of getMembersCollection(projectDetails);">
      <div class="row">
        <span class="col-1 offset-1">{{EnumTeamMemberType[member.memberType]}}:</span>
        <span class="col-3" style="margin-left: 2em;">{{member.fullName | dashIfEmpty}}</span>
        <span class="col-2 offset-1 social-group">
        <a *ngIf="member.facebookLink" href="{{member.facebookLink}}" target="_blank" style="margin-right: 1em;">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
        <a *ngIf="member.linkedInLink" href="{{member.linkedInLink}}" target="_blank">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
      </span>
      </div>
    </div>
  </div>
  <div class="sw-card sw-content shift">
    <div class="row row-title">
      <h3 class="col-10 offset-1">{{ 'ProjectInformation.LegalPart' | translate }}</h3>
    </div>
    <div class="row">
      <span class="col-3 offset-1">{{ 'ProjectInformation.Incorporation' | translate }}:</span>
      <span class="col-5">{{projectDetails.country | dashIfEmpty}}</span>
    </div>
  </div>
  <div class="sw-card sw-content shift">
    <div class="row row-title">
      <h3 class="col-10 offset-1">{{ 'ProjectInformation.Finance' | translate }}</h3>
    </div>
    <div class="row" style="padding-bottom: 0;">
      <span class="col-3 offset-1">{{ 'ProjectInformation.Investments' | translate }}:</span>
    </div>
    <div class="row sub-row">
      <span class="col-3 offset-1">{{ 'ProjectInformation.SoftCap' | translate }}:</span>
      <span class="col-5">{{projectDetails.softCap | dashIfEmpty}}</span>
    </div>
    <div class="row sub-row">
      <span class="col-3 offset-1">{{ 'ProjectInformation.HardCap' | translate }}:</span>
      <span class="col-5">{{projectDetails.hardCap | dashIfEmpty}}</span>
    </div>
    <div class="row">
      <span class="col-3 offset-1">{{ 'ProjectInformation.FinancialModelLink' | translate }}:</span>
      <app-nullable-link [href]="projectDetails.financeModelLink" class="col-5"></app-nullable-link>
    </div>
    <div class="row">
      <span class="col-3 offset-1">{{ 'ProjectInformation.AttractedInvestments' | translate }}:</span>
      <span *ngIf="projectDetails.attractedInvestments; else noAttract"
            style="color:green;"
            class="col-5">
      {{ 'Common.Yes' | translate }}
    </span>
      <ng-template #noAttract>
        <span style="color:red;" class="col-5">{{ 'Common.No' | translate }}</span>
      </ng-template>
    </div>
  </div>
  <div class="sw-card sw-content shift">
    <div class="row row-title">
      <h3 class="col-10 offset-1">{{ 'ProjectInformation.Tech' | translate }}</h3>
    </div>
    <div class="row">
      <span class="col-3 offset-1">{{ 'ProjectInformation.Blockchain' | translate }}:</span>
      <span class="col-5">{{projectDetails.blockChainType | dashIfEmpty}}</span>
    </div>
    <div class="row">
      <span class="col-3 offset-1">{{ 'ProjectInformation.MvpLink' | translate }}:</span>
      <app-nullable-link [href]="projectDetails.mvpLink" class="col-5"></app-nullable-link>
    </div>
  </div>
</div>
