
<mat-checkbox (change)="changeStatusAsync(0, $event)">{{ 'AdminProjects.New' | translate }}</mat-checkbox>
<mat-checkbox (change)="changeStatusAsync(1, $event)">{{ 'AdminProjects.InProgress' | translate }}</mat-checkbox>
<mat-checkbox (change)="changeStatusAsync(2, $event)">{{ 'AdminProjects.Finished' | translate }}</mat-checkbox>
<div class="admin-experts-list">
  <p-table [value]="projects" [lazy]="true" (onLazyLoad)="updateProjects($event)" [paginator]="true"
           [rows]="pageSize" [totalRecords]="totalRecords" [loading]="loading">
    <ng-template pTemplate="header" let-columns>
      <tr class="list-row list-row__header">
        <th class="list-item">{{ 'AdminProjects.Id' | translate }}</th>
        <th class="list-item">{{ 'AdminProjects.ProjectName' | translate }}</th>
        <th class="list-item">{{ 'AdminProjects.CreateDate' | translate }}</th>
        <th class="list-item">{{ 'AdminProjects.Status' | translate }}</th>
        <th class="list-item">{{ 'AdminProjects.Experts' | translate }}</th>
        <th class="list-item">{{ 'AdminProjects.Actions' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-project let-columns="columns">
      <tr class="list-row">
        <td class="list-item">
          {{project.id}}
        </td>
        <td class="list-item">
          {{project.name}}
        </td>
        <td *ngIf="project.scoring != null" class="list-item">
          {{project.scoring.creationDate | formatDate}}
        </td>
        <td *ngIf="project.scoring == null" class="list-item">
          -
        </td>
        <td *ngIf="project.scoring != null" class="list-item" [ngSwitch]="project.scoring.status">
          <span *ngSwitchCase="ScoringStatus.Pending">{{ 'AdminProjects.New' | translate }}</span>
          <span *ngSwitchCase="ScoringStatus.InProgress">{{ 'AdminProjects.InProgress' | translate }}</span>
          <span *ngSwitchCase="ScoringStatus.Finished">{{ 'AdminProjects.Finished' | translate }}</span>
        </td>
        <td *ngIf="project.scoring == null" class="list-item">
          -
        </td>
        <td *ngIf="project.scoring != null" class="list-item">
          {{project.scoring.expertsCount}}
        </td>
        <td *ngIf="project.scoring == null" class="list-item">
          -
        </td>
        <td class="list-item">

        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
