<div class="container">
  <div class="row mx-auto">
    <div class="col-8 sm-title">
      <h1>{{ 'Common.Title' | translate }}</h1>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-6 sv-description d-flex align-items-end">
      <h2 class="">{{ 'Voting.ProjectsForVoting' | translate }}</h2>
    </div>
  </div>
  <div class="row mx-auto sprint-title" *ngIf="currentSprint">
    {{ 'Voting.From' | translate }} {{dateFrom}} {{ 'Voting.To' | translate }} {{dateTo}}
  </div>
  <div class="row mx-auto">
    <a style="height: 3.6em; margin-top: 2.4em;" class="col-2 sv-default-btn btn btn-primary"
       (click)="showProject(0)">{{ 'Voting.FinishedVotes' | translate }}</a>
    <div class="offset-1 col-6">
    <span class="timer-title">
      {{ 'Voting.ReminingTime' | translate }}
    </span>
      <div class="timer">
        <div>
          <span class="time-number">{{remainingDays}}</span>
          <span class="time-label">{{ 'Voting.Days' | translate }}</span>
        </div>
        <div>
          <span class="time-number">{{remainingHours}}</span>
          <span class="time-label">{{ 'Voting.Hours' | translate }}</span>
        </div>
        <div>
          <span class="time-number">{{remainingMinutes}}</span>
          <span class="time-label">{{ 'Voting.Minutes' | translate }}</span>
        </div>
        <div>
          <span class="time-number">{{remainingSeconds}}</span>
          <span class="time-label">{{ 'Voting.Seconds' | translate }}</span>
        </div>
      </div>
    </div>
    <div *ngIf="currentSprint && currentSprint.voteBalance !== 0" class="col-3 vote-balance">
      <span>{{ 'Voting.VoteBalance' | translate }}: {{currentSprint.voteBalance}} SVT</span>
    </div>
  </div>
  <div class="row mx-auto" *ngIf="currentSprint">
    <div class="sw-list-projects">
      <div class="card_no_shdw col-12 sw-card" style="margin: 0 0 20px 0" *ngFor="let project of projects;">
        <app-project-card [data]="project" [type]="ProjectCardType.Voting"></app-project-card>
      </div>
    </div>
  </div>
</div>
