<div class="container">
  <div class="row mx-auto">
    <div class="col-8 sm-title">
      <h1>{{ 'Common.Title' | translate }}</h1>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-6 sv-description d-flex align-items-end">
      <h2 class="">{{ 'Landing.ScoredProjects' | translate }}</h2>
    </div>
    <div class="col-6 btn-grp text-right">
      <button mat-raised-button class="col-5 sm-btn-primary btn-space" (click)="navigateToScoring()">{{ 'Landing.BecomeAnExpert' | translate }}</button>
      <button mat-raised-button class="col-5 sm-btn-primary btn-space" (click)="createProject()">{{ 'Landing.ApplyProject' | translate }}</button>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="sw-list-projects">
      <div class="card_no_shdw col-12 sw-card" style="margin: 0 0 20px 0" *ngFor="let project of projects;">
        <app-project-card [project] = "project" [isScoring]="false"></app-project-card>
      </div>
    </div>
  </div>
</div>

