.admin-experts-list{
    padding-top: 2em;
}
.list-row{
    color: #000;
    width: 100%;
    background-color: white;
    border-radius: 0.25em;
    padding: 1em;
    border: 0.05em #d9d9d9 solid;
}
.list-row__header {
    background: #ebedf0;
}
.list-item {
    max-width: 200px;
    overflow: hidden;
}