<div class="applications">
  <div class="row mx-auto">
    <div class="list-item" *ngFor="let application of applications">
      <div class="col-4">{{application.lastName}} {{application.firstName}}</div>
      <div class="col-4">{{application.applyDate | formatDate}}</div>
      <div class="col-2 control-cell">
        <a class="main-btn button-link" (click)="viewForm(application.id)">
          {{ 'AdminExpertApplications.Form' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
