@import "../../../../styles/fonts";

.applications {
  font-family: $font-pt;
  padding-top: 2em;
}

.list-item{
  width: 100%;
  background-color: white;
  padding: 1em;
  border: 0.05em #d9d9d9 solid;
  border-top: none;
}
.applications .list-item:first-child {
  border-top: 0.05em #d9d9d9 solid;
}

.list-item div{
  display: inline-block;
  text-align: center;
  padding: 0.5em;
  margin: 0.2em 0;
}

.item-btn{
  left: 1em;
  float: right;
  margin-right: 1em;
  padding: 0.5em;
  color: white !important;
}
.button-link {
  text-align: center;
  display: inline-block;
  padding: 10px 20px 28px 20px;
  margin-bottom: 20px;
  min-width: 120px;
}
.control-cell {
  text-align: right;
}
