<div class="container">
  <div class="row mx-auto">
    <div class="col-8 sm-title">
      <h1>Smart valley mvp</h1>
      <h3>
        Decentralized Scoring
      </h3>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-6">
      <p>
      </p>
    </div>
    <div class="col-6 btn-grp text-right">
        <button mat-raised-button class="col-5 sm-btn-primary btn-space" (click)="navigateToScoring()">Become an expert</button>
        <button mat-raised-button class="col-5 sm-btn-primary btn-space" (click)="createProject()">Create project</button>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="sw-list-projects">
      <div class="card_no_shdw col-12 sw-card" style="margin: 0 0 20px 0" *ngFor="let project of projects;">
        <app-project-card [project] = project></app-project-card>
      </div>
    </div>
  </div>
</div>

