.main-text {
  width: 586px;
  min-height: 20px;
  font-family: Roboto-Regular;
  font-size: 16px;
  line-height: 1.43;
  text-align: left;
  color: #000000;
}

.create-btn {
  width: 156px;
  height: 36px;
  margin-top: 20px;
  margin-bottom: 200px;
}

.partition-title {
  font-family: Roboto-Bold;
  font-size: 24px;
  text-align: left;
  background: #fff;
  padding: 16px 40px;
  margin: 16px 0 3px;
  color: #a4a2b0;
}

.social-column .partition-item {
  display: inline-block;
}

.social-column a {
  text-decoration: none;
  width: 170px;
  display: inline-block;
}

.member-column {
  width: 150px;
  word-wrap: break-word;
  text-align: center;
  margin: 30px 10px;
  display: inline-block;
  vertical-align: top;
}

.role-text {
  color: #a4a2b0;
}

.member-photo-container {
  height: 120px;
  padding-bottom: 16px;
}

.member-photo {
  width: 96px;
  height: 96px;
  border: solid 2px #eeedf5;
  border-radius: 50%;
}

.empty-photo {
  color: #a4a2b0;
  font-size: 100px;
}

.member-socials {
  margin-top: 10px;
}

.member-socials .social-icon {
  margin: 0 4px;
}

.partition-block {
  background: #fff;
  padding: 16px 40px 32px;
}

.partition {
  width: 780px;
}

.partitions-list {
  list-style: none;
  margin-top: 16px;
  padding-left: 160px;
}

.partition-item {
  font-family: Roboto-Bold;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #5d49f2;
  cursor: pointer;
  padding-bottom: 10px;
}

.partitions-page,
.control-row__flex {
  display: flex;
}

.control-label {
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

.control-label label {
  cursor: default !important;
}

label {
  cursor: pointer;
}

.control-row {
  margin-bottom: 20px;
}

.partition-menu__inputs {
  padding-left: 160px;
}

.partition-menu__inputs input {
  margin-right: 20px;
}

.form-control-row {
  margin-bottom: 10px;
}

.input-name, .input-wide {
  width: 640px;
}

.raised-wrapper {
  margin-left: 20px;
}

.input-raised {
  padding-right: 30px;
}

.socials__add-button {
  font-family: Roboto-Regular;
  font-size: 14px;
  line-height: 1.43;
  color: #5d49f2;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0;
}

.socials__row {
  display: flex;
  margin-bottom: 10px;
}

.socials__input {
  margin-left: 20px;
  width: 480px;
}

.socials__labels-wrapper {
  display: flex;
}

.socials__link-label {
  margin-left: 247px;
}

.socials__remove {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  margin-left: 20px;
  position: relative;
  top: 8px;
}

.member-name {
  font-family: Roboto-Bold;
  font-size: 24px;
  text-align: left;
  background: #fff;
  padding: 0;
  margin-bottom: 16px;
  color: #a4a2b0;
}

