@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "~bootstrap/dist/css/bootstrap.css";

.container {
  min-width: 1100px;
}

body {
  background: rgb(32, 32, 32);
  font-family: 'AvenirNextCyr', sans-serif;
}

.mat-toolbar {
  background: transparent !important;
  font-family: 'AvenirNextCyr', sans-serif;
}

.mat-button-wrapper {
  font-family: 'AvenirNextCyr-Medium', sans-serif;
}

.mat-tab-group {
  font-family: 'AvenirNextCyr', sans-serif;
}

.mat-checkbox {
  font-family: 'AvenirNextCyr', sans-serif;
}

div.mat-checkbox-frame {
  border-color: rgb(70, 137, 232);
  border-radius: 0.25rem;
  border-width: 1px;
}

label.mat-checkbox-layout > div.mat-checkbox-inner-container {
  margin-left: 6.2em;
}

.nav-tabs {
  border-bottom: inherit;
}

.nav-tabs .nav-link {
  background: rgb(72, 138, 232);
  opacity: 1 !important;
  color: white;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 18px;
  font-weight: 500;
}

.nav-tabs .nav-link.active {
  color: black;
  background: white;
}

.nav-tabs .nav-link {
  border: none;
}

.nav-item {
  position: relative;
  width: 100%;
  min-height: 1px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 22%;
  max-width: 22%;
  padding-right: 15px;
  padding-left: 15px;
}

.nav-tabs .nav-item:first-child {
  margin-left: 60px;
  padding-left: 0px;
}

.nav-tabs .nav-item {
  margin-bottom: -0.5em;
}

.tab-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.25rem;
}

.mat-tab-label-container {
  margin-top: 20px;
}

.mat-tab-label {
  min-width: 0px !important;
  color: rgb(72, 138, 232);
  opacity: 1 !important;
  padding: inherit !important;
  font-size: 30px;
  font-weight: 100;
  margin-left: 60px;
}

.mat-tab-label-active, .choose, .scoring-rating > span {
  color: rgb(180, 180, 180) !important;
}

.mat-tab-labels {
  display: inline-block !important;
  border-bottom: 1px solid #ddd;
}

.mat-tab-labels .mat-tab-label:first-child {
  margin-left: 0px;
  padding-left: 0px;
}

.card {
  margin: 1em 0em;
  -webkit-box-shadow: 0px 3px 14px 2px rgba(219, 219, 219, 1);
  -moz-box-shadow: 0px 3px 14px 2px rgba(219, 219, 219, 1);
  box-shadow: 0px 3px 14px 2px rgba(219, 219, 219, 1);
}

.card_no_shdw {
  margin: 30px;
}

.sm-btn-primary {
  background: rgb(246, 150, 1);
}

.btn-link:hover {
  text-decoration: none;
}

.btn {
  cursor: pointer;
}

.sm-btn-primary > .mat-button-wrapper {
  font-weight: 500;
  opacity: 1 !important;
  color: black;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  display: block;
  line-height: initial;
}

.mat-tab-label:focus {
  background-color: inherit !important;
}

.mat-ink-bar {
  background-color: rgb(72, 138, 232) !important;
}

.mat-tab-body-wrapper {
  margin-top: 50px;
}

.high_rate {
  color: #38a347 !important;
}

.medium_rate {
  color: #e8a765 !important;
}

.low_rate {
  color: #d24a43 !important;
}

.progress_rate {
  color: rgb(180, 180, 180) !important;
}

.mat-checkbox-frame {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
  background-color: rgb(72, 138, 232);
}
.mat-checkbox-checkmark-path {
   stroke: white !important;
 }
.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: rgba(72, 138, 232,.26);
}
.sw-content {
  -webkit-box-flex: inherit;
  -ms-flex: inherit;
  flex: inherit;
  margin: 0.2em 0px
}

.sw-content > div.row:last-child {
  margin-bottom: 20px;
}

.sm-title {
  margin-bottom: 10px;
  color: white;
  padding: 0;
}

.sm-title h1 {
  font-family: 'AvenirNextCyr-Bold', sans-serif;
  letter-spacing: 8px;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.sv-default-btn {
  padding: 1em 0em;
  color: white !important;
  background-color: rgb(70, 137, 232);
  border-color: rgb(70, 137, 232);
}

a {
  color: rgb(72, 138, 232);
}

.sw-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0.25rem;
  padding: 0;
}

.tab-content {
  background-color: transparent;
}

.white-card {
  margin-top: -4em;
  background-color: white;
}

input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid {
  border: 1px solid #ced4da;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

.mat-dialog-container {
  background: white;
  color: black ;
}

@font-face {
  font-family: "AvenirNextCyr-Bold";
  src: url("/assets/fonts/Avenir Next/AvenirNextCyr-Bold.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextCyr-BoldItalic";
  src: url("/assets/fonts/Avenir Next/AvenirNextCyr-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextCyr-Demi";
  src: url("/assets/fonts/Avenir Next/AvenirNextCyr-Demi.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextCyr-DemiItalic";
  src: url("/assets/fonts/Avenir Next/AvenirNextCyr-DemiItalic.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextCyr-Heavy";
  src: url("/assets/fonts/Avenir Next/AvenirNextCyr-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextCyr-HeavyItalic";
  src: url("/assets/fonts/Avenir Next/AvenirNextCyr-HeavyItalic.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextCyr-Italic";
  src: url("/assets/fonts/Avenir Next/AvenirNextCyr-Italic.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextCyr-Light";
  src: url("/assets/fonts/Avenir Next/AvenirNextCyr-Light.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextCyr-LightItalic";
  src: url("/assets/fonts/Avenir Next/AvenirNextCyr-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextCyr-Medium";
  src: url("/assets/fonts/Avenir Next/AvenirNextCyr-Medium.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextCyr-MediumItalic";
  src: url("/assets/fonts/Avenir Next/AvenirNextCyr-MediumItalic.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("/assets/fonts/Avenir Next/AvenirNextCyr-Regular.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextCyr-Thin";
  src: url("/assets/fonts/Avenir Next/AvenirNextCyr-Thin.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextCyr-ThinItalic";
  src: url("/assets/fonts/Avenir Next/AvenirNextCyr-ThinItalic.otf") format("opentype");
}

@font-face {
  font-family: "AvenirNextCyr-UltraLight";
  src: url("/assets/fonts/Avenir Next/AvenirNextCyr-UltraLightIt.otf") format("opentype");
}
