.action-btn {
  background-color: white;
  margin-right: 32px;
}

.admin-table .ui-table-wrapper table tr td:last-child {
  text-align: left !important;
}

.mat-checkbox-disabled {
  display: none;
}
