@import "../../../../styles/pallete";

.action-btn {
  background-color: white;
  margin-right: 32px;
}

.admin-table .ui-table-wrapper table tr td:last-child {
  text-align: left !important;
}

.mat-checkbox-disabled {
  display: none;
}

.list-item.completed {
  background-color: $accents-green !important;
}

.list-row:nth-child(odd):hover {
  background: #f2f2f2 !important;
}

.list-row:nth-child(even):hover {
  background: #ffffff !important;
}

tr.list-row > td.list-item {
  cursor: default !important;
}
