<div *ngIf="data.canReceive; else notReceive" class="dialog">
  <button class="dialog-close" mat-dialog-close><i class="material-icons">close</i></button>
  <h2 class="dialog-title" mat-mat-title>{{ 'GetEtherModal.Title' | translate }}</h2>
  <div class="dialog-content">
    {{ 'GetEtherModal.Content' | translate }}
  </div>
  <div class="justify-content-center">
    <button mat-button [mat-dialog-close]="true" class="main-btn dialog-button">{{ 'GetEtherModal.GetButton' | translate }}</button>
  </div>
</div>
<ng-template #notReceive>
  <button class="dialog-close" mat-dialog-close><i class="material-icons">close</i></button>
  <h2 class="dialog-title" mat-mat-title>{{ 'RinkeByModal.Title' | translate }}</h2>
  <div class="dialog-content">
    {{ 'RinkeByModal.Content' | translate }} <a href="https://faucet.rinkeby.io/" target="_blank">https://faucet.rinkeby.io/</a>
  </div>
</ng-template>

