.scoring-projects {
  -webkit-box-flex: inherit;
  -ms-flex: inherit;
  flex: inherit;
  max-width: none;
  margin-left: -75px;
  margin-right: -75px;
  width: calc(100% + 165px);
  padding-right: 15px;
  padding-left: 15px;
}

.without-project {
  height: 45em;
  position: relative;
  text-align: center;
}

.without-project > button {
  top: 45%;
  padding: 2em;
}

.content {
  margin: 4em;
  padding: 2em 0em;
}
