<div class="dialog">
  <button class="dialog-close" mat-dialog-close></button>
  <h2>{{ 'EditAllotmentEventModal.Title' | translate }}</h2>
  <form [formGroup]="form" (ngSubmit)="submitForm()" autocomplete="off">
    <div class="control-row">
      <p class="control-label">
        <label for="event-name">{{ 'EditAllotmentEventModal.AllotmentEventName' | translate }}</label>
      </p>
      <input class="input" id="event-name" formControlName="eventName">
    </div>
    <div class="control-row">
      <p class="control-label">
        <label for="token-address">{{ 'EditAllotmentEventModal.TokenAddress' | translate }}</label>
      </p>
      <input (change)="checkToken($event)" class="input" id="token-address" formControlName="tokenAddress" placeholder="{{ 'EditAllotmentEventModal.TokenAddressPlaceholder' | translate }}">
    </div>
    <div class="control-row">
      <p class="control-label">
        <label for="ticker">{{ 'EditAllotmentEventModal.TokenTicker' | translate }}</label>
      </p>
      <input class="input" id="ticker" formControlName="ticker">
    </div>
    <div class="control-row">
      <p class="control-label">
        <label for="token-decimals">{{ 'EditAllotmentEventModal.TokenDecimals' | translate }}</label>
      </p>
      <input class="input" id="token-decimals" formControlName="tokenDecimals">
    </div>
    <div class="control-row">
      <p class="control-label">
        <label for="finish-date">{{ 'EditAllotmentEventModal.FinishDate' | translate }}</label>
      </p>
      <p-calendar class="input-component select-full-width" [inputId]="'finish-date'" formControlName="finishDate" [inputStyleClass]="'input input-date'" dateFormat="dd.mm.yy" [yearNavigator]="true" yearRange="2018:2050" #required></p-calendar>
    </div>
    <div class="control-row submit">
      <input type="submit" value="{{ 'EditAllotmentEventModal.Save' | translate }}" class="material-btn material-btn__action">
    </div>
  </form>
</div>
