<div class="project-card">
  <div class="project-card__image">
    <img class="project-avatar" src="{{ project.imageUrl }}" alt="">
    <div class="avatar-socials">
      <a *ngIf="project.facebook" href="{{ project.facebook}}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a *ngIf="project.telegram" href="{{ project.telegram}}"><i class="fa fa-telegram" aria-hidden="true"></i></a>
      <a *ngIf="project.twitter" href="{{ project.twitter}}"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="project-card__info">
    <div class="project-card__info-wrapper">
      <ul class="title-list">
        <li>{{ 'ProjectCard.ProjectArea' | translate }}</li>
        <li>{{ 'ProjectCard.Country' | translate }}</li>
        <li>{{ 'ProjectCard.Status' | translate }}</li>
        <li>{{ 'ProjectCard.ICOdate' | translate }}</li>
        <li>{{ 'ProjectCard.Website' | translate }}</li>
      </ul>
      <ul class="values-list">
        <li>{{ category }}</li>
        <li>{{ country }}</li>
        <li>{{ stage }}</li>
        <li>{{ project.icoDate | formatDate }}</li>
        <li><a href="{{ project.website }}" target="_blank">{{ project.website }}</a></li>
      </ul>
    </div>
    <a href="{{ project.whitePaperLink}}" class="ghost-btn" target="_blank">{{ 'ProjectCard.OpenWP' | translate }}</a>
  </div>
  <div class="project-card__controls">
    <ng-content></ng-content>
  </div>
</div>
