<div class="container" *ngIf="projectDetails">
  <div class="row mx-auto">
    <div class="col-8 sm-title">
      <h1>{{ 'Common.Title' | translate }}</h1>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-8 sv-description d-flex align-items-end">
      <h2 class="">{{projectDetails.name}} {{ 'VotingCard.Title' | translate }}</h2>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="report-card col-12">
      <div class="report-content row">
        <div class="main-info col-2">
          <img src="{{projectImageUrl}}" style="width: 128px;"/>
        </div>
        <div class="description col-6">
          <div class="main-info__title">
            <span>{{projectDetails.name}}</span>
            <span>{{projectDetails.area}}</span>
          </div>
        </div>
        <div class="scoring col-4">
          <div class="scoring-container row">
            <span class="timer-title">
              {{ 'VotingCard.ReminingTime' | translate }}
            </span>
            <div class="timer">
              <div>
                <span class="time-number">{{endDays}}</span>
                <span class="time-label">{{ 'VotingCard.Days' | translate }}</span>
              </div>
              <div>
                <span class="time-number">{{endHours}}</span>
                <span class="time-label">{{ 'VotingCard.Hours' | translate }}</span>
              </div>
              <div>
                <span class="time-number">{{endMinutes}}</span>
                <span class="time-label">{{ 'VotingCard.Minutes' | translate }}</span>
              </div>
              <div>
                <span class="time-number">{{endSeconds}}</span>
                <span class="time-label">{{ 'VotingCard.Seconds' | translate }}</span>
              </div>
            </div>
          </div>
          <div *ngIf="!isVotedByMe" class="row">
            <div class="col-12">
              <a (click)="voteAsync()"
                 class="col-8 vote-button sv-default-btn btn btn-primary">
                {{ 'VotingCard.VoteForProject' | translate }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-auto">
    <app-project-information class="col-12 info" [projectDetails]="projectDetails"></app-project-information>
  </div>
  <div style="margin-left: 0px;margin-top: 1em;" class="submit-button buttons row">
    <button *ngIf="!isVotedByMe"  class="trans-btn col-3 btn btn-primary"
            style="padding-top: 1em; padding-bottom: 1em;"
            (click)="voteAsync()">
      {{ 'VotingCard.VoteForProject' | translate }}
    </button>
    <button class="trans-btn col-3 btn btn-primary"
            style="padding-top: 1em; padding-bottom: 1em; margin-left: 3em;"
            (click)="navigateToVoting()">
      {{ 'VotingCard.BackToVotes' | translate }}
    </button>
  </div>
</div>
