<mat-toolbar color="primary">
  <button mat-button >
    <mat-icon>home</mat-icon> SmartValley
  </button>
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button ><i class="material-icons" >account_box</i> Profile</button>
    <button mat-button (click)="tryIt()"><i class="material-icons" ></i>  Anonymous</button>
    <button mat-button (click)="gotoApi()"><i class="material-icons" ></i>  Authorized</button>

  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
  <button mat-menu-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          [routerLink]="['/home/find']">Find </button>
  <button mat-menu-item routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          [routerLink]="['/home/enter']">Enter </button>
  <button mat-menu-item> Logout</button>
</mat-menu>
