<div>
  <h2 mat-mat-title>{{'EditExpertModalComponent.Title' | translate}}</h2>
  <mat-dialog-content>
    <h3 class="sub-header">{{'EditExpertModalComponent.Backend' | translate}}</h3>
    <form [formGroup]="backendForm">
      <div class="row">
          <span class="col-4">
              {{ 'EditExpertModalComponent.Address' | translate }}
          </span>
        <span class="col-8 example-full-width">{{expertDetails.address}}</span>

      </div>
      <div class="row">
          <span class="col-4">
              {{ 'EditExpertModalComponent.Email' | translate }}
          </span>
        <mat-form-field class="col-8 example-full-width">
          <input placeholder="{{ 'EditExpertModalComponent.Email' | translate }}" matInput formControlName="email"
                 name="email" [(ngModel)]="expertDetails.email" [(value)]="expertDetails.email" #required>
        </mat-form-field>
      </div>
      <div class="row">
          <span class="col-4">
              {{ 'EditExpertModalComponent.Name' | translate }}
          </span>
        <mat-form-field class="col-8 example-full-width">
          <input placeholder="{{ 'EditExpertModalComponent.Name' | translate }}" matInput formControlName="name"
                 name="name" #required [(ngModel)]="expertDetails.name" [(value)]="expertDetails.name">
        </mat-form-field>
      </div>
      <div class="row">
          <span class="col-4">
              {{ 'EditExpertModalComponent.About' | translate }}
          </span>
        <mat-form-field class="col-8 example-full-width">
          <textarea matInput placeholder="{{ 'EditExpertModalComponent.About' | translate }}" formControlName="about"
                    name="about" [(ngModel)]="expertDetails.about" [(value)]="expertDetails.about"></textarea>
        </mat-form-field>
      </div>
      <div class="row submit-row">
        <span class="offset-6 col-6">
          <mat-dialog-actions class="d-flex justify-content-center">
            <button mat-raised-button (click)="submitAsync(false)" [disabled]="backendForm.invalid"
                    class="sv-default-btn btn-space">
              {{'EditExpertModalComponent.SaveBackend' | translate}}
            </button>
          </mat-dialog-actions>
        </span>
      </div>
    </form>
    <h3 class="sub-header">{{'EditExpertModalComponent.Blockchain' | translate}}</h3>

    <div class="row">
        <span class="col-6">
          <mat-checkbox align="start" name="available" [(ngModel)]="isAvailable"
                        [(value)]="isAvailable">
            {{ 'EditExpertModalComponent.AvailableForWork' | translate }}
          </mat-checkbox>
        </span>
    </div>
    <div *ngFor="let area of areas" class="row">
        <span class="col-6">
          <mat-checkbox align="start" name="{{'area' + area.areaType}}"
                        [(ngModel)]="selectedCategories[area.areaType]">
            {{ area.name }}
          </mat-checkbox>
        </span>
    </div>
    <div class="row submit-row">
        <span class="offset-6 col-6">
          <button mat-raised-button (click)="submitAsync(true)" [disabled]="backendForm.invalid"
                  class="sv-default-btn btn-space">
              {{'EditExpertModalComponent.SaveBlockchain' | translate}}
            </button>
        </span>
    </div>

  </mat-dialog-content>
</div>
