.title {
  color: white;
  padding: 0;
  text-transform: uppercase;
}

.report-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 0;
}

.report-content {
  margin: 2em;
}

.report-content > div {
  display: inline-block;
}

.rating {
  float: right;
}

.scoring-container {
  display: inline-block;
  color: rgb(180, 180, 180);
}

.scoring-container > .score-panel {
  display: block;
}

.scoring-container > span {
  display: block;
}

.scoring-container > .score-panel > .score {
  font-size: 3em;
}

.nav-tabs .nav-item:first-child {
  margin-left: 0px;
}

.info {
  padding: 0;
  margin-left: -60px;
}

.info .sw-card {
  margin-left: 60px;
  margin-right: -60px;
  padding: 1em;
}

/*.row {
  padding: 0.8em 0;
  margin-right: 1em;
}*/

.sub-row {
  padding: 0;
}


div.container > .row:nth-child(1), div.container > .row:nth-child(2) {
  padding: 0;
  margin-right: 1em;
}

div.container > .row:nth-child(2) {
  margin-bottom: 2em;
}

div.sw-main-info span, div.sw-main-info app-nullable-link {
  padding-left: 0;
}

.description {
  display: inline-block;
}

.main-info {
  display: inline-block;
  padding: 1em;
  top: calc(25% - 3em + 25px);
}
.main-info img {
  width: 6em;
  border-radius: 1em;
}

.main-info__country {
  color: rgba(0, 0, 0, 0.5);
}

.main-info__title {
  padding: calc(1em - 5px);
}

.main-info__title > span {
  display: block;
  margin: 0.2em 0em;
}

.main-info__title > span:first-child {
  font-size: 1.5em;
}

.scoring {
  text-align: right;
  display: inline-block;
  padding: 1em;
}

.content {
  padding-left: 6em !important;
}

.trans-btn {
  background: transparent;
  padding-top: 1em;
  padding-bottom: 1em;
  color: rgb(70, 137, 232);
  border-color: rgb(70, 137, 232);
  padding-top: 1em;
  padding-bottom: 1em;
}

.tab-shift {
  margin-left: 60px;
  margin-right: -60px;
}
