.title {
  color: white;
  padding: 0;
  text-transform: uppercase;
}

.report-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 0;
  height: 14em;
}

.report-content {
  margin: 2em;
}

.report-content > div {
  display: inline-block;
}

.rating {
  float: right;
}

.scoring-container {
  display: inline-block;
}

.scoring-container > span {
  display: block;
}

.scoring-container > .score {
  font-size: 3em;
}

.nav-tabs .nav-item:first-child {
  margin-left: 0px;
}

.info {
  padding: 0;
  margin-left: -60px;
}

.info .sw-card {
  margin-left: 60px;
  margin-right: -60px;
  padding: 1em;
}

.row {
  padding: 1em 0em;
  margin-right: 1em;
}

.description {
  display: inline-block;
  padding-right: 2em;
  padding-left: 2em;
  position: absolute;
  left: 30%;
}

.main-info {
  display: inline-block;
  left: 1.5em;
  padding: 1em;
  position: absolute;
  top: calc(25% - 2em + 25px);
}
.main-info img {
  width: 6em;
}

.main-info__country {
  color: rgba(0, 0, 0, 0.5);
}

.main-info__title {
  padding: calc(1em - 5px);
}

.main-info__title > span {
  display: block;
  margin: 0.2em 0em;
}

.main-info__title > span:first-child {
  font-size: 1.5em;
}

.scoring {
  text-align: right;
  max-width: calc(25% - 8px);
  display: inline-block;
  padding: 0;
  position: absolute;
  height: 100%;
  right: 2.5em;
  padding: 1em;
}

.content {
  padding-left: 6em !important;
}

.trans-btn {
  background: transparent;
  padding-top: 1em;
  padding-bottom: 1em;
  color: rgb(70, 137, 232);
  border-color: rgb(70, 137, 232);;
}

