.main-btn {
  height: 36px;
  border-radius: 18px !important;
  background-color: #5d49f2;
  border: solid 1px #5d49f2;
  font-size: 14px;
  font-family: Roboto-Regular;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  color: #ffffff !important;
  cursor: pointer;
  outline: none !important;
}
.ghost-btn {
  font-family: "Roboto-Regular";
  font-size: 14px;
  padding: 0 20px;
  height: 36px;
  background-color: transparent;
  border: solid 1px #5d49f2;
  border-radius: 18px !important;
  cursor: pointer;
  outline: none;
}
.main-btn[disabled] {
  background-color: #a4a2b0;
  border-color: #969696;
}
.input {
  height: 36px;
  color: #000;
  padding: 0 16px;
  border-radius: 18px;
  background-color: #ffffff;
  border: solid 1px #a4a2b0;
  outline: none;
}
textarea.input {
  padding: 10px;
  min-height: 132px;
  width: 640px;
}
.sortable {
  cursor: pointer;
  position: relative;
}
.sortable:after,
.sortable:before {
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  right: -17px;
}
.sortable:after {
  background-image: url(/assets/img/table-controls/arrow-down-gray.svg);
  top: 8px;
}
.sortable:before {
  top: -9px;
  background-image: url(/assets/img/table-controls/arrow-up-gray.svg);
}
.sortable__active.sortable__active_asc.sortable:before {
  background-image: url(/assets/img/table-controls/arrow-up-white.svg);
}
.sortable__active.sortable__active_desc.sortable:after {
  background-image: url(/assets/img/table-controls/arrow-down-white.svg);
}

/* switch control*/

.input-switch__on,
.input-switch__off {
  text-align: center;
  padding: 5px 15px;
  background: transparent;
  border: 1px solid #a4a2b0;
  height: 36px;
}
.input-switch__on {
  border-radius: 18px 0 0 18px;
  border-right: none;
}
.input-switch__off {
  border-radius: 0 18px 18px 0;
}
.selected {
  background: #231a5d;
  color: #fff;
}
.sex-switch .input-switch__off,
.sex-switch .input-switch__on {
  width: 90px;
}


/* ng prime paginator restyle */

body .ui-paginator {
  margin-bottom: 100px !important;
  background-color: transparent !important;
}
body .admin-table .ui-paginator {
  margin-bottom: -5px !important;
}
body .ui-widget-header {
  background-color: transparent !important;
  border: none !important;
}
body .ui-paginator .ui-paginator-first,
body .ui-paginator .ui-paginator-prev,
body .ui-paginator .ui-paginator-next,
body .ui-paginator .ui-paginator-last {
  color: #5d49f2 !important;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page {
  text-align: center !important;
  font-size: 18px !important;
  font-family: Roboto-Bold !important;
  color: #5d49f2 !important;
  width: 30px !important;
  height: 30px !important;
}
body .ui-state-active, body .ui-state-highlight {
  color: #000 !important;
  background-color: #ffd038 !important;
}
body .ui-paginator .ui-paginator-pages .ui-paginator-page {
  padding: 2px 0 0 !important;
}

/* ng prime calendar style */

.ui-inputtext.input-date {
  height: 36px;
  color: #000;
  width: 230px;
  padding: 0 16px;
  border-radius: 18px;
  background-color: #ffffff;
  border: solid 1px #a4a2b0 !important;
  background-image: url(/assets/img/controls/calendar.svg);
  background-repeat: no-repeat;
  background-position: 200px center;
  outline: none;
}

/* validation input style */

input.ng-dirty.ng-invalid,
.input-component.ng-invalid.ng-dirty .input,
textarea.ng-dirty.ng-invalid,
p-calendar.ng-dirty.ng-invalid .ui-inputtext {
  border-color: red !important;
}
input.ng-valid {
  border-color: #a4a2b0 !important;
}
.input-component.ng-dirty.ng-invalid .ui-inputtext.input-date,
.input-component.ng-dirty.ng-invalid .input {
  border-color: red !important;
}
.ng-dirty .ng-invalid .input-switch .input-switch__on,
.ng-dirty .ng-invalid .input-switch .input-switch__off {
  border-color: red !important;
}

.ng-dirty .ng-valid .input-switch .input-switch__on,
.ng-dirty .ng-valid .input-switch .input-switch__off {
  border-color: #a4a2b0 !important;
}

.ng-invalid.ng-touched.ng-dirty textarea.ng-invalid,
.ng-invalid.ng-touched.ng-dirty .ng-invalid .ui-radiobutton-box.ui-widget {
  border: 1px solid red !important;
}

/* angular-material tabs */

.mat-tab-label-content	{
  font-family: Roboto-Bold;
  font-size: 24px;
  color: #5d49f2;
}
.mat-tab-label-active .mat-tab-label-content {
  color: #000;
}
.mat-ink-bar {
  display: none;
}
.mat-tab-labels {
  border-bottom: none !important;
}
.mat-tab-body-wrapper {
  margin-top: 24px !important;
}

.report-tab .mat-tab-label {
  margin: 0 1px 0;
}
.report-tab .mat-tab-label {
  height: auto;
  &:hover {
    box-shadow: 0 2px 10px 0 rgba(137, 137, 137, 0.5);
  }
}
.report-tab .mat-tab-label-content {
  width: 234px;
  height: 155px;
  background: #fff;
  color: #5d49f2;
  &:hover {
    box-shadow: 0 2px 10px 0 rgba(137, 137, 137, 0.5);
  }
}
.report-tab .mat-tab-list {
  padding: 4px 0;
}
.report-tab .mat-tab-label-active .mat-tab-label-content {
  background: #231a5d;
  color: #fff;
}


/* ng-prime upload */

.ui-fileupload-choose.ui-button {
  font-family: "Roboto-Regular";
  height: 36px;
  background-color: transparent;
  border: solid 1px #5d49f2;
  border-radius: 18px !important;
  cursor: pointer;
  outline: none;
  padding-top: 5px;
  color: #000;
}

p-fileUpload.ng-dirty.ng-invalid .ui-fileupload-choose.ui-button {
  border: solid 1px red !important;
}

.ui-fileupload-content.ui-widget-content.ui-corner-bottom {
  border: none;
}

body .ui-widget-content {
  background-color: #fff !important;
}
body .ui-button {
  background-color: transparent !important;
}
body .ui-button .fa-close:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(/assets/img/controls/cross.svg);
  background-size: cover;
}


/* ng-prime checkbox */

body .ui-chkbox .ui-chkbox-box {
  border-radius: 100px;
  width: 24px;
  height: 24px;
}
body .ui-chkbox .ui-chkbox-box.ui-state-active {
  background-color: #fff !important;
  padding-top: 2px;
  color: #5d49f2;
}
.ui-chkbox-box .fa-check:before {
  color: #5d49f2;
}

/* ng-prime radio */

body .ui-radiobutton-box {
  width: 20px;
  height: 20px;
}
body .ui-radiobutton-box.ui-state-active {
  background-color: #fff !important;
}
body .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-radiobutton-icon.fa-circle {
  color: #5d49f2 !important;
  padding-top: 3px;
  font-size: 12px;
}
body .ui-radiobutton .ui-radiobutton-box {
  position: relative;
  top: -3px;
}
