$main-dark: #5e478b;
$main-blue: #474389;
$main-light: #b9a8e4;

$background-light: #ffffff;
$background-dark: #333333;
$background-gray: #f2f2f2;

$accents-green: #d3eb52;
$accents-orange: #feb771;
$accents-red: #e5978f;
