@import "fonts";
@import "pallete";

.ui-table-wrapper table {
  margin: 20px 0;
  font-family: $font-pt;
  font-size: 14px;
  text-align: left;
  color: #231a5d;
  background: $background-light;
}
.ui-table-wrapper table th {
  background: #635d90;
  padding: 22px 0 16px 40px !important;
  color: #a4a2b0;
  vertical-align: baseline;
  height: 64px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    padding: 20px 15px !important;
  }
}
.ui-table-wrapper table td {
  cursor: pointer;
  padding: 18px 0 18px 40px !important;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    padding: 20px 15px !important;
  }
}
.table__main-col {
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle !important;
}
.ui-table-wrapper table tr {
  border-bottom: solid 2px #eeedf5;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    border-bottom: solid 4px #eeedf5;
  }
}
.ui-table-wrapper table tr:last-child {
  border-bottom: none;
}
.ui-table-wrapper table tr:hover {
  background: #f6f6f6;
}
.ui-table-wrapper table a {
   color: #5d49f2;
}

.admin-table {
  .link {
    color: #5E478B;
    &:hover {
      text-decoration: underline;
    }
  }
  .ui-table-wrapper table {
    background: $background-light;
  }
  .ui-table-wrapper table td {
    padding: 18px 0 18px 20px !important;
  }
  .ui-table-wrapper table th {
    background: $background-light;
    font-size: 14px;
    color: $background-dark;
    padding: 22px 0 16px 20px !important;
  }
  .ui-table-wrapper table tr {
    color: $background-dark;
    border-bottom: none;
    &:hover {
      background: $accents-green !important;
    }
    &:nth-child(odd) {
      background: $background-gray;
    }
    &:nth-child(even) {
      background: $background-light;
    }
    td:last-child {
      padding: 18px 20px !important;
    }
  }
}

.allotment-events .admin-table .ui-table-wrapper table {

  tr {
    td:nth-child(8), th:nth-child(8) {
      text-align: right;
      padding-right: 20px !important;
    }

    td:last-child {
      padding: 0 !important;
    }

    td {
      word-wrap: break-word;
    }
  }
}
