@import "./../../../../styles/pallete";
@import "./../../../../styles/fonts";

td {
  overflow: hidden;
  text-overflow: ellipsis;
}

tr.status-0 {
  border-left: 4px solid $accents-orange;
}

tr.status-1 {
  border-left: 4px solid $main-light;
}

tr.status-2 {
  border-left: 4px solid $admin-text;
}

tr.status-3 {
  border-left: 4px solid $accents-green;
}

.delete-icon {
  position: relative;
  top: -10px;
  margin: 0 12px;
}

.statuses {
  display: flex;
  clear: both;
  padding: 0;
  list-style: none;
  color: $admin-text;
  margin-bottom: 20px;
  font-family: $font-pt;
  li {
    margin-right: 30px;
    &:first-child {
      font-weight: bold;
    }
  }
}

.color-mark {
  margin-right: 4px;
  position: relative;
  top: 3px;
  display: inline-block;
  width: 8px;
  height: 16px;
  background: $admin-text;
}

.color-mark__created {
  background: $accents-green;
}

.color-mark__published {
  background: $accents-orange;
}

.color-mark__in-progress {
  background: $main-light;
}

.color-mark__in-finished {
  background: $admin-text;
}

.list-item {
  img {
    margin: 0;
  }
}

.event-actions {
  float: right;
}
