.row {
  padding: 1em 0em;
  margin-right: 1em;
}

.question-text {
  font-size: 0.9em;
  white-space: pre-line;
  word-wrap: break-word;
}

div.two-col div {
  padding: 0;
}

/deep/ .sub-list {
  margin-left: 1em !important;
}
