.label-wrapper {
  width: 125px;
  margin: 0 auto;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    width: auto;
  }
}

.label-name {
  border-bottom: 3px solid #eeedf5;
  font-size: 14px;
  width: 123px;
  margin: 30px 0 15px 0;
  padding-bottom: 15px;
  text-align: center;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    width: auto;
    border: none;
    height: 30px;
    padding: 10px 0 0;
    margin: 0;
  }
}

.label-score {
  font-size: 24px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    font-size: 12px;
    text-align: center;
  }
}

.max-score {
  color: #a4a2b0;
  font-size: 24px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    font-size: 12px;
  }
}

.question {
  font-family: Roboto-Bold;
  font-size: 14px;
  margin-bottom: 15px;
}

.scoring-question {
  padding: 20px 40px;
  background-color: #fff;
  border-bottom: solid 1px #e5e5e5;
}

.spinner-container {
  position: relative;
  min-height: 100px;
  width: 100%;
  mat-spinner {
    right: 0;
    position: absolute;
    margin: auto;
    left: 0;
  }
}

.progress-scoring-list,
.report-tab,
.main-btn {
  margin-bottom: 55px;
}

.scoring-results {
  text-align: left;
  font-size: 14px;
  tr {
    line-height: 25px;
  }
  thead {
    td {
      width: 150px;
    }
    td:last-child {
      width: 600px;
    }
    font-family: Roboto-Bold;
    color: #a4a2b0;
  }

  tbody {
    .score {
      @media screen and (min-width: 320px) and (max-width: 768px) {
        text-align: center;
      }
    }
    td {
      @media screen and (min-width: 320px) and (max-width: 768px) {
        vertical-align: top;
        font-size: 12px;
        padding-top: 15px;
      }
    }
  }
}

.score_0 {
  color: #e4002b;
}

.score_1 {
  color: #f5a623;
}

.score_2 {
  color: #23b428;
}

.progress-scoring-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.settings-title {
  margin-bottom: 2px;
  padding: 20px 40px;
}

.settings-title,
.settings-block {
  width: 780px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    width: 100%;
    padding: 20px;
  }
}

.settings-block {
  position: relative;
}

.settings-block:last-child {
  .question-tooltip {
    bottom: 0;
    &:before {
      top: inherit;
      bottom: 50px;
    }
  }
}

.progress-scoring-item {
  position: relative;
  width: 235px;
  border: solid 1px #eeedf5;
}

.total {
  color: #a4a2b0;
  padding: 20px;
  background-color: #fff;
}

.total-score {
  position: relative;
  color: #000;
  display: inline-block;
  float: right;
}

.total-progress-bar {
  position: relative;
  bottom: 5px;
  width: 100%;
  height: 5px;
  background-color: #e5e5e5;
}

.total-progress-bar__ready {
  position: relative;
  height: 100%;
  width: 0;
  background-color: #231a5d;
}

.active-question {
  border: solid 2px #231a5d;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    border: none;
  }
  .question-tooltip {
    display: block;
    @media screen and (min-width: 320px) and (max-width: 768px) {
      display: none;
    }
  }
}
.question-tooltip {
  display: none;
  margin-top: -18px;
  width: 380px;
  position: absolute;
  background-color: #222034;
  padding: 20px;
  right: -400px;
  min-height: 180px;
  &:before {
    content: '';
    width: 8px;
    height: 14px;
    position: absolute;
    left: -8px;
    top: 100px;
    border-style: solid;
    border-width: 7px 8px 7px 0;
    border-color: transparent #222034 transparent transparent;
  }
  .question-tooltip__title {
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #a4a2b0;
  }
  .info-title {
    font-family: Roboto-Bold;
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
  }
  .info-description {
    font-size: 12px;
    text-align: left;
    color: #fff;
    @media screen and (min-width: 320px) and (max-width: 768px) {
      display: none;
    }
  }
}

.empty-result {
  margin-bottom: 200px;
}

.progress-scoring-item > .settings-title {
  padding: 20px 20px;
}
.social-icon {
  background: #fff;
}
.member-socials {
  margin-bottom: 10px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    display: none;
  }
}
.social-wrapper {
  a {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
  }
}
