<div>
  <h2 mat-mat-title>{{'FreeScoringConfirmationModal.Title' | translate}}</h2>
  <hr>
  <mat-dialog-content>
    <div style="margin-left: 1em; margin-right: 1em;">
      <div class="row">
        <span>{{'FreeScoringConfirmationModal.Message' | translate}}</span>
      </div>
      <div class="row">
        <mat-checkbox align="start" [(ngModel)]="agreed" style="margin-top: 1em">
          {{ 'FreeScoringConfirmationModal.Agree' | translate }}
        </mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-center">
    <button mat-raised-button [mat-dialog-close]="true"
            class="col-5 sv-default-btn btn-space"
            [disabled]="!agreed">
      {{'FreeScoringConfirmationModal.Submit' | translate}}
    </button>
    <button mat-raised-button [mat-dialog-close]="false" class="col-5 sv-default-btn btn-space">
      {{'Common.Cancel' | translate}}
    </button>
  </mat-dialog-actions>
</div>
