<div class="admin-experts-list">
  <p-table [value]="experts" [lazy]="true" (onLazyLoad)="getExpertList($event)" [paginator]="true"
           [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
    <ng-template pTemplate="header" let-columns>
      <tr class="list-row list-row__header">
        <th class="list-item">{{ 'AdminExpertList.Address' | translate }}</th>
        <th class="list-item">{{ 'AdminExpertList.Email' | translate }}</th>
        <th class="list-item">{{ 'AdminExpertList.Name' | translate }}</th>
        <th class="list-item">{{ 'AdminExpertList.About' | translate }}</th>
        <th class="list-item">{{ 'AdminExpertList.Available' | translate }}</th>
        <th class="list-item">{{ 'AdminExpertList.Categories' | translate }}</th>
        <th class="list-item">{{ 'AdminExpertList.Actions' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr class="list-row">
        <td class="list-item" *ngFor="let col of ['address', 'email', 'name', 'about', 'isAvailable', 'areas']">
          {{rowData[col]}}
        </td>
        <td>
          <button (click)="showDialogToEditExpert(rowData)" class="btn btn-link">
          {{ 'AdminExpertList.Edit' | translate }}
          </button>
          <button (click)="deleteExpertAsync(rowData.address)" class="btn btn-link">
            {{ 'AdminExpertList.Delete' | translate }}
          </button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <tr class="list-row">
        <div style="text-align:left">
          <button type="button" pButton icon="fa-plus" (click)="showDialogToCreateNewExpert()" label="{{ 'AdminExpertList.CreateNew' | translate }}"></button>
        </div>
      </tr>
    </ng-template>
  </p-table>
</div>
