<div class="admin-experts-list">
  <p-table class="admin-table" [value]="experts" [lazy]="true" (onLazyLoad)="getExpertList($event)" [paginator]="true"
           [rows]="10" [totalRecords]="totalRecords" [loading]="loading">
    <ng-template pTemplate="header" let-columns>
      <tr class="list-row list-row__header">
        <th class="list-item">{{ 'AdminExpertList.Address' | translate }}</th>
        <th class="list-item">{{ 'AdminExpertList.Email' | translate }}</th>
        <th class="list-item">{{ 'AdminExpertList.FirstName' | translate }}</th>
        <th class="list-item">{{ 'AdminExpertList.SecondName' | translate }}</th>
        <th class="list-item">{{ 'AdminExpertList.About' | translate }}</th>
        <th class="list-item">{{ 'AdminExpertList.IsAvailable' | translate }}</th>
        <th class="list-item">{{ 'AdminExpertList.IsInHouse' | translate }}</th>
        <th class="list-item">{{ 'AdminExpertList.Categories' | translate }}</th>
        <th class="list-item">{{ 'AdminExpertList.Actions' | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr class="list-row">
        <td class="list-item" *ngFor="let col of ['address', 'email', 'firstName', 'secondName', 'about', 'isAvailable', 'isInHouse', 'areas']">
          {{rowData[col]}}
        </td>
        <td>
          <span (click)="showExpertEditDialog(rowData)" class="edit-icon" title="{{ 'AdminExpertList.Edit' | translate }}"></span>

          <!--https://rassvet-capital.atlassian.net/browse/ILT-730-->
          <!--<button (click)="deleteAsync(rowData.address)" class="btn btn-link">-->
            <!--{{ 'AdminExpertList.Delete' | translate }}-->
          <!--</button>-->

        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="float: left;">
        <button class="main-btn" type="button" (click)="showDialogToCreateNewExpert()">{{ 'AdminExpertList.CreateNew' | translate }}</button>
      </div>
    </ng-template>
  </p-table>
</div>
