<div class="container" *ngIf="details">
  <div class="row mx-auto">
    <div class="col-8 title">
      <h1>{{details.name}} {{ 'Vote.Title' | translate }}</h1>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="report-card col-12">
      <div class="report-content">
        <div class="main-info col-4">
          <img src="{{projectImageUrl}}" style="width: 128px;"/>
        </div>
        <div class="description col-4">
          <div class="main-info__title">
            <span>{{details.name}}</span>
            <span>{{details.area}}</span>
          </div>
          <a (click)="vote()"
             class="offset-4 col-6 vote-button sv-default-btn btn btn-primary">
            {{ 'Vote.VotingForProject' | translate }}
          </a>
        </div>
        <div class="scoring col-4">
          <div class="scoring-container">
    <span class="timer-title">
      {{ 'Vote.ReminingTime' | translate }}
    </span>
            <div class="timer">
              <div>
                <span class="time-number">{{endDays}}</span>
                <span class="time-label">{{ 'Vote.Days' | translate }}</span>
              </div>
              <div>
                <span class="time-number">{{endHours}}</span>
                <span class="time-label">{{ 'Vote.Hours' | translate }}</span>
              </div>
              <div>
                <span class="time-number">{{endMinutes}}</span>
                <span class="time-label">{{ 'Vote.Minutes' | translate }}</span>
              </div>
              <div>
                <span class="time-number">{{endSeconds}}</span>
                <span class="time-label">{{ 'Vote.Seconds' | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-auto">
    <app-project-information class="col-12 info" [projectDetails]="details"></app-project-information>
  </div>
  <div style="margin-left: 0px;margin-top: 1em;" class="submit-button buttons row">
    <button class="trans-btn col-3 btn btn-primary"
            style="padding-top: 1em; padding-bottom: 1em;"
            (click)="vote()">
      {{ 'Vote.VoteForProject' | translate }}
    </button>
    <button class="trans-btn col-3 btn btn-primary"
            style="padding-top: 1em; padding-bottom: 1em; margin-left: 3em;"
            (click)="navigateToVoting()">
      {{ 'Vote.BackToVotes' | translate }}
    </button>
  </div>
</div>
