<div class="container">
  <h1>{{ 'Expert.Title' | translate }}</h1>
  <mat-tab-group (selectedTabChange)="changeTab($event)" [selectedIndex]="selectedTab">
    <mat-tab label="{{ 'Expert.WorkPlace' | translate }}">
      <app-expert-work-place></app-expert-work-place>
    </mat-tab>
    <mat-tab label="{{ 'Expert.Offers' | translate }}">
      <app-expert-offers></app-expert-offers>
    </mat-tab>
    <mat-tab label="{{ 'Expert.OffersHistory' | translate }}">
      <app-expert-offers-history></app-expert-offers-history>
    </mat-tab>
  </mat-tab-group>
</div>