.scoring-card {
  display: inline-block;
  padding: 0px;
  margin: 0px 0px 1rem;
}

.scoring-container {
  display: inline-block;
}

.voting-container {
  color: black;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.scoring-container > span {
  display: block;
}

.scoring-container > .score-panel {
  display: block;
}

.scoring-container > .score-panel > .score {
  font-size: 3em;
}

.scoring-container > .voting-result {
  font-size: 2em;
}

.scoring a.sv-default-btn {
  float: right;
  bottom: 3em;
}

.voting-info {
  position: absolute;
  text-align: center;
  bottom: 0em;
}

.voting-info span {
  display: block;
  font-weight: bold;
}
.voting-info span:first-child {
  font-size: 2em;
}

.scoring-card-block {
  position: relative;
  padding: 0px;
  min-width: 1090px;
}

.scoring-card-block > div {
  vertical-align: top;
  padding: 3em 3em;
}

.description {
  display: inline-block;
  height: 100%;
  position: relative;
}

.vote-button {
  position: relative;
}

.main-info {
  display: inline-block;
}

.main-info img {
  width: 4em;
  margin-bottom: 1em;
  border-radius: 1em;
}

.main-info__country {
  color: rgba(0, 0, 0, 0.5);
}

.main-info__title > span {
  display: block;
  margin: 0.2em 0px;
  word-wrap: break-word;
}

.main-info__title > span:first-child {
  font-size: 1.5em;
}

.scoring {
  text-align: right;
  display: inline-block;
  height: 100%;
  color: rgb(180, 180, 180);
}

.timer {
  text-align: center;
  line-height: 1.5em;
}

.timer div {
  width: 2.5em;
  margin: 0em;
  display: inline-block;
}

.timer div .time-number, .timer div .time-label {
  color: black;
  display: block;
  text-align: center;
}

.timer div .time-label {
  font-size: 1em;
}

.timer div .time-number {
  font-size: 1em;
  margin-top: 0.5em;
}

.white-box{
  background-color: white;
  margin-bottom: 1em;
}

.big-size {
  font-size: 2em;
  display: block;
}
