<div class="container" *ngIf="projectDetails">
  <div class="row mx-auto">
    <div class="col-8 sm-title">
      <h1>{{ 'Estimate.Title' | translate }}</h1>
    </div>
  </div>
  <app-project-information [showBasicInfoCaption]="true" [projectDetails]="projectDetails"></app-project-information>
  <form [formGroup]="estimateForm" novalidate>
    <div *ngFor="let question of estimateForm.get('questions')['controls'];" class="sw-card sw-content">
      <div [formGroup]="question">
        <div class="row row-title">
          <h3 class="col-10 offset-1">{{question.value.name}}</h3>
        </div>
        <div class="row-content">
          <div class="row">
            <span class="col-6 offset-1" style="word-wrap: break-word; white-space: pre-line; font-size: 0.8em;"
                  [innerHTML]=question.value.description></span>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="score col-1 offset-1">
                <span style="font-size: 0.85em;">{{ 'Estimate.YourScore' | translate }}</span>
                <input #required type="number" style="margin-top: 1em;" class="form-control" formControlName="score"
                       placeholder="{{question.value.maxScore}}">
              </div>
              <div class="col-6">
                <span style="font-size: 0.85em;">{{ 'Estimate.YourComment' | translate }}</span>
                <textarea #required class="form-control"
                          style="margin-top: 1em; height: 10em; resize: none;"
                          formControlName="comments">
            </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="submit-button row">
    <button (click)="sendEstimateAsync()" [disabled]="isEstimateSending" class="btn-blue col-3 btn btn-primary"
            style="padding-top: 1em; padding-bottom: 1em;">
      {{ 'Estimate.Send' | translate }}
    </button>
  </div>
</div>
