<div class="card-block scoring-card-block">
  <div class="main-info col-4">
    <img src="{{projectImageUrl}}"/>
    <div class="main-info__title">
      <span>{{project.name}}</span>
      <span class="main-info__country">{{project.country}}</span>
      <span>{{project.area}}</span>
    </div>
  </div>
  <div class="description col-5">
    <p class="card-text">{{project.description}}</p>
  </div>
  <div class="scoring col-3">
    <div class="scoring-container">
      <span>Scoring rating:</span>
      <span *ngIf="project.score" class="score {{projectService.colorOfProjectRate(project.score)}}">{{project.score.toFixed(0)}}</span>
      <span *ngIf="!project.score">In progress...</span>
    </div>
    <div *ngIf="isScoring">
      <a class="col-8 sv-default-btn btn btn-primary"
         (click)="showProject(project.id)">Estimate</a>
    </div>
    <div *ngIf="!isScoring">
      <a (click)="showReport(project.id)" class="col-8 sv-default-btn btn btn-primary">View report</a>
    </div>
  </div>
</div>
