<div class="card-block scoring-card-block">
  <div class="main-info col-4">
    <img src="{{projectImageUrl}}"/>
    <div class="main-info__title">
      <span>{{project.name}}</span>
      <span class="main-info__country">{{project.country}}</span>
      <span>{{project.area}}</span>
    </div>
  </div>
  <div class="description col-5">
    <p class="card-text">{{project.description}}</p>
    <a *ngIf="projectCardType === ProjectCardType.Voting" (click)="votingForProject(project.id)"
       class="offset-3 col-4 vote-button sv-default-btn btn btn-primary">
      {{ 'ProjectCard.VotingForProject' | translate }}
    </a>
  </div>
  <div class="scoring col-3">
    <div *ngIf="projectCardType !== ProjectCardType.Voting" class="scoring-container">
      <span>{{ 'ProjectCard.ScoringRating' | translate }}</span>
      <div class="score-panel" *ngIf="project.score">
        <span class="score {{projectService.colorOfProjectRate(project.score)}}">{{project.score.toFixed(0)}}</span>
        <span>/ 100</span>
      </div>
      <span *ngIf="!project.score">{{ 'ProjectCard.InProgress' | translate }}</span>
    </div>
    <div *ngIf="projectCardType === ProjectCardType.Voting" class="voting-container">
      <span>My vote: yes</span>
    </div>
    <div *ngIf="projectCardType === ProjectCardType.Scoring">
      <a class="col-8 sv-default-btn btn btn-primary"
         (click)="showProject(project.id)">{{ 'ProjectCard.Estimate' | translate }}</a>
    </div>
    <div *ngIf="projectCardType !== ProjectCardType.Scoring">
      <a (click)="showReport(project.id)" class="col-8 sv-default-btn btn btn-primary">
        {{ 'ProjectCard.Info' | translate }}
      </a>
    </div>
  </div>
</div>
