.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.sm-header{
  color: white;
  height: 1em;
  padding-top: 50px;
  padding-bottom: 74px;
}
.sm-header a{
  text-decoration: none;
}

.sm-header__nav > button {
  margin-top: 24px;
}

.sm-header__nav > a{
  padding-left: 1em;}

a, button, span {
  color: rgb(70, 137, 232);
  font-size: 0.7em;
}
.login-button{
  margin-top: 24px;
}
.inline-blocks div{
  display: inline-block;
}

button.mat-menu-item {
  font-size: 0.8em;
}

.address{
  vertical-align: middle;
  font-size: 0.8em;
  width: 10em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
button:focus {
   outline: initial;
   outline: initial;
 }
