.example-icon {
  padding: 0 14px;
}

.header-wrapper {
  width: 100%;
  @media screen and (min-width: 320px) and (max-width: 768px) {
      width: 100%;
  }
  @media screen and (min-width: 769px) and (max-width: 1200px) {
      width: 1200px;
  }
  .main-btn {
    @media screen and (min-width: 320px) and (max-width: 768px) {
      display: none;
    }
  }
}

.sm-header {
  color: #a4a2bo;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 20px 0;
  width: 1180px;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.sm-header a {
  text-decoration: none;
}

.sm-header__nav > button {
  margin-top: 24px;
}

.sm-header__nav > a {
  padding-left: 1em;
}

.login-button {
  margin-top: 24px;
}

.inline-blocks div {
  display: inline-block;
}

button.mat-menu-item {
  font-size: 0.8em;
  font-family: 'AvenirNextCyr', sans-serif;
}

button.mat-icon-button {
  width: auto;
  height: auto;
}

button.mat-menu-item:hover {
  color: white;
}

.address {
  vertical-align: middle;
  font-size: 0.8em;
  width: 10em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

button:focus {
  outline: initial;
  outline: initial;
}

.header-avatar-wrapper {
  text-align: right;
  margin-left: 1em;
}

.header-avatar {
  width: 5em;
  border-radius: 1em;
}

.header-nav__authenticated {
  text-align: right;
  margin: 0 !important;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    display: none;
  }
}

.header-content {
  align-items: center;
  width: 1180px;
  margin: 0 auto;
  display: flex;
  height: 100px;
  margin-bottom: 20px;
  font-family: Roboto-Bold;
  font-size: 14px;
  font-weight: bold;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    height: 60px;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
  }
}

.header-nav {
  width: 250px;
  margin: 0 40px;
  flex: 1 1 auto;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    display: none;
  }
}

.header-nav__link {
  color: #a4a2b0;
  text-decoration: none;
  display: inline-block;
  margin-left: 47px;
  cursor: pointer;
}

.header-nav__link:hover {
  color: white;
}

.header-nav__link_selected {
  color: #fff;
}

.get-score-btn {
  margin-right: 8px;
}
.receive-ether-btn {
  margin-left: 8px;
}

.header-nav__login-logout {
  color: #a4a2b0;
  display: inline-block;
  margin-left: 47px;
  cursor: pointer;
}

.header-nav__login-logout:hover {
  color: white;
}

.expert-panel {
  font-family: Roboto-Bold;
  color: #a4a2b0;
  margin-top: -20px;
  margin-bottom: 20px;
  background: #fff;
  .expert-content {
    display: flex;
    justify-content: flex-end;
    width: 1180px;
    margin: 0 auto;
    font-size: 14px;
    height: 40px;
    padding-top: 10px;
    .current-balance {
      color: #000;
    }
    .activity-status,
    .balance {
      display: inline-block;
      margin-left: 20px;
    }
  }
}

.activity-status {
  cursor: pointer;
  .not-active {
    color: #e64e41;
  }
  .active {
    color: #23b428;
  }
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 100px;
  margin: 0 5px;
  position: absolute;
}

.inactive-icon {
  border-color: #e64e41;
}

.active-icon {
  border-color: #23b428;
}

.status-tip {
  color: #a4a2b0;
}

.status-label {
  padding-left: 30px;
}

.status-icon {
  top: 0px;
  position: relative;
  font-size: 16px;
}

.logo {
  @media screen and (min-width: 320px) and (max-width: 768px) {
    width: 125px;
  }
}

.mobile-menu {
  color: #fff;
  position: fixed;
  right: 0;
  background: #211f33;
  width: 100%;
  height: 100%;
  z-index: 11;
  padding: 20px;
  transition: all 0.2s ease;
  .mobile-menu-list {
    list-style: none;
    margin-top: 30px;
    padding: 0;
    li {
      padding-bottom: 10px;
      border-bottom: 1px solid #c5c5c5;
      margin-bottom: 10px;
    }
  }
  .header-nav__link-mobile {
    color: #fff;
    font-size: 18px;
  }
}
.invisible {
  width: 0;
  height: 0;
}

.mobile-menu-icon {
  display: none;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    position: relative;
    z-index: 12;
    display: inline-block;
    float: right;
    color: #fff;
    .material-icons {
      font-size: 40px;
    }
  }
}

