.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.sm-header{
  color: white;
  height: 1em;
  padding-top: 50px;
  padding-bottom: 74px;
}
.sm-header a{
  text-decoration: none;
}
.sm-header__nav > a{
  padding-left: 1em;
}
