<div class="container sm-footer">
  <div class="row">
    <div class="col-3 sm-copyright">
      @2017 Smart Valley. All rights reserved
    </div>
    <div class="col-6 sm-terms">
      <a href="#">
        Term of use
      </a>
    </div>
    <div class="col-3 sm-social-icons">
      <a href="#">
        <i class="fa fa-vk" aria-hidden="true"></i>
      </a>
      <a href="#">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a href="#">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="#">
        <i class="fa fa-telegram" aria-hidden="true"></i>
      </a>
      <a href="#">
        <i class="fa fa-google-plus" aria-hidden="true"></i>
      </a>
      <a href="#">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
