@import "~font-awesome/css/font-awesome.css";

.sm-footer {
  border-top: #a4a2b0 1px solid;
  width: 1180px;
  color: #000;
  height: 60px;
  padding-top: 20px;
  padding-bottom: 45px;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    display: block;
    padding: 20px;
    width: 100%;
  }
  clear: both;
  margin-top: 20px;
}

.footer-menu-list, .footer-menu-list a {
  list-style: none;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: #5d49f2;
}

.footer-menu-list li {
  margin-bottom: 8px;
}

.footer-col {
  margin: 0 100px 0 0;
}

.footer-col p {
  margin-bottom: 0;
}

.footer-col__menu {
  width: 420px;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .footer-col {
    margin: 0 auto;
  }

  .footer-col p, .footer-col__copyright {
    margin-bottom: 20px;
  }

  .footer-col__menu {
    width: auto;
  }
  .footer-menu-list {
    padding: 0;
  }
  .footer-col .phone-label {
    margin-bottom: 0;
  }
  .social-icons {
    margin-bottom: 30px;
  }
}

.social-icon:last-child {
  margin-right: 0;
}

.phone {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: black;
}
