@import "~font-awesome/css/font-awesome.css";

.sm-footer {
  border-top: #a4a2b0 1px solid;
  width: 1180px;
  color: #000;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 45px;
  display: flex;
}
.footer-menu-list, .footer-menu-list a {
  list-style: none;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  color: #5d49f2;
}
.footer-col {
  width: 350px;
  margin: 0 100px 0 0;
}
.footer-col__menu {
  width: 370px;
  margin: 0;
}
.social-icon:last-child {
  margin-right: 0;
}
