<div class="content sm-footer">
  <div class="footer-col footer-col__copyright">
    {{ 'Footer.Copyright' | translate }}
  </div>
  <div class="footer-col footer-col__menu">
    <ul class="footer-menu-list">
      <li><a [routerLink]="'/' + projectsLink">{{ 'Footer.Projects' | translate }}</a></li>
      <li><a target="_blank" href="https://smartvalley.io/files/WP_en_new.pdf">{{ 'Footer.WhitePaper' | translate }}</a></li>
      <!-- <li>{{ 'Footer.UserAgreement' | translate }}</li> -->
    </ul>
  </div>
  <div class="footer-col footer-col__social-icons">
    <p>
      {{ 'Footer.CallUs' | translate }} <strong>{{ 'Footer.PhoneNumber' | translate}}</strong>
    </p>
    <div>
      {{ 'Footer.Socials' | translate }}
      <a target="_blank" href="https://www.facebook.com/SmartValley.io/" class="social-icon social-icon__facebook"></a>
      <a target="_blank" href="https://www.instagram.com/smartvalley/" class="social-icon social-icon__instagram"></a>
      <a target="_blank" href="https://t.me/joinchat/BhcurkQ7TEADvuyQ1anYhA" class="social-icon social-icon__telegram"></a>
      <a target="_blank" href="https://bitcointalk.org/index.php?topic=2239642" class="social-icon social-icon__bitcointalk"></a>
    </div>
  </div>
</div>
