@import "../../../styles/fonts";

.title {
  font-size: 36px;
  font-family: Roboto-Bold;
}

h2 {
  font-family: Roboto-Bold;
  font-size: 24px;
  margin-bottom: 24px;
}

.allotment-events {
  font-family: Roboto-Regular;
  color: #333;
  display: flex;
  flex-wrap: wrap;
}

.free-token-place-panel {
  margin-top: -24px;
  margin-bottom: 24px;
  height: 40px;
  background: #fff;
  border: 1px solid #BDBDBD;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  .content {
    padding: 5px 0 0;
  }
  .free-token-place-panel__balance {
    float: right;
    display: flex;
    min-width: 350px;
    padding: 0;
    list-style: none;
    li {
      margin-right: 20px;
    }
  }
  .receive-tokens {
    height: 24px;
    padding: 0;
    margin-right: 20px;
  }
  .balance-label {
    color: #4F4F4F;
    font-weight: bold;
    margin-right: 20px;
  }
  .tooltip-title {
    font-family: $font-pt-narrow;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.04em;
  }
  .question-icon {
    width: 16px;
    height: 16px;
    border-radius: 30px;
    border: 1px solid #333;
    display: inline-block;
    position: relative;
    line-height: 13px;
    padding: 1px 0 0 4px;
    top: 0;
    font-size: 13px;
    cursor: default;
  }
  .frozen-balance-info-tooltip {
    position: absolute;
    display: block;
    text-align: right;
    width: 285px;
    min-height: 100px;
    top: 132px;
    background: #E0E0E0;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 20px;
  }
  .frozen-balance-items {
    list-style: none;
    padding: 0;
  }
}
