<div class="free-token-place-panel">
  <div class="content">
    <ul class="free-token-place-panel__balance">
      <li class="balance-label">{{ 'FreeTokenPlace.Balance' | translate }}</li>
      <li>{{ balanceETH }} {{ 'FreeTokenPlace.ETH' | translate }}</li>
      <li>{{ balanceSVT }} {{ 'FreeTokenPlace.SVT' | translate }}</li>
      <li>
        30 {{ 'FreeTokenPlace.FreezedSVT' | translate }}
        <span class="question-icon" (mouseenter)="showFrozenTooltip = true" (mouseleave)="showFrozenTooltip = false">?</span>
        <div *ngIf="showFrozenTooltip" class="frozen-balance-info-tooltip">
          <span class="tooltip-title">{{ 'FreeTokenPlace.CantTransferFreezed' | translate }}</span>
          <ul class="frozen-balance-items">
            <li *ngFor="let frozen of frozenSVT">
              {{ frozen.sum }} {{ 'FreeTokenPlace.SVT' | translate }} {{ 'FreeTokenPlace.Until' | translate }} {{ frozen.date | date:'dd.MM.yyyy' }}
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="content">
  <h1 class="title">{{ 'FreeTokenPlace.Title' | translate }}</h1>
  <h2>{{ 'FreeTokenPlace.ActiveAllotmentEvents' | translate }}</h2>
  <div class="allotment-events">
    <app-allotment-event-card (finishEvent)="finishEvent($event)" *ngFor="let event of activeEvents" [event]="event"></app-allotment-event-card>
  </div>
  <h2>{{ 'FreeTokenPlace.FinishedAllotmentEvents' | translate }}</h2>
  <div class="allotment-events">
    <app-allotment-event-card *ngFor="let event of finishedEvents" [finished]="true" [event]="event"></app-allotment-event-card>
  </div>
</div>
