.title {
  font-size: 36px;
  font-family: Roboto-Bold;
}
h2 {
  font-family: Roboto-Bold;
  font-size: 24px;
  margin-bottom: 24px;
}
.allotment-events {
  font-family: Roboto-Regular;
  color: #333;
  display: flex;
  flex-wrap: wrap;
}