<div class="content">
  <h1 class="title">{{ 'FreeTokenPlace.Title' | translate }}</h1>
  <h2>{{ 'FreeTokenPlace.ActiveAllotmentEvents' | translate }}</h2>
  <div class="allotment-events">
    <app-allotment-event-card *ngFor="let event of activeEvents" [event]="event"></app-allotment-event-card>
  </div>
  <h2>{{ 'FreeTokenPlace.FinishedAllotmentEvents' | translate }}</h2>
  <div class="allotment-events">
    <app-allotment-event-card *ngFor="let event of finishedEvents" [finished]="true" [event]="event"></app-allotment-event-card>
  </div>
</div>
