.control-label {
  margin-bottom: 4px;
  width: auto;
}
.area label {
  cursor: pointer;
}
.control-row__flexed {
  display: flex;
}

.control-row__flexed .control-wrapper:last-child {
  margin-left: 20px;
}

.areas {
  margin-bottom: 20px;
}

.control-row {
  margin-bottom: 20px;
}
.notify {
  margin-top: 4px;
  margin-bottom: 8px;
  font-size: 12px;
  color: #a4a2b0;
}
.input-wide {
  width: 480px;
}
.submit-btn {
  margin-bottom: 80px;
}
.areas-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin-top: 10px;
}
.area {
  width: 200px;
}
.mat-dialog-container {
  background: #fff !important;
}
