<div class="container">
  <div class="row mx-auto">
    <div class="col-12 sm-title">
      <h1 class="">{{ 'RegisterExpert.Title' | translate }}</h1>
      <h3 style="margin-bottom: 0">{{ 'RegisterExpert.ExpertTypeTitle' | translate }}</h3>
    </div>
  </div>
  <div style="display: inline-block; margin-right: 2em; color:white;margin-bottom: 1em;" *ngFor="let area of areas">
    <p-checkbox [(ngModel)]="selectedAreas" value="{{area.value}}" inputId="ny"></p-checkbox>
    <span style="vertical-align: middle; margin-left: 1em;">{{area.label}}</span>
  </div>
  <form [formGroup]="registryForm" novalidate>
    <div class="sw-card sw-content" style="padding: 2em;">
      <div class="row">
        <h3 class="col-10">{{ 'Application.BasicInformation' | translate }}</h3>
      </div>
      <div #name class="row">
        <span class="col-2">{{ 'RegisterExpert.FirstName' | translate }}</span>
        <input class="form-control col-4" formControlName="firstName"
               placeholder="{{ 'RegisterExpert.NamePlaceholder' | translate }}" #required>
        <span class="col-2">{{ 'RegisterExpert.SecondName' | translate }}</span>
        <input class="form-control col-4" formControlName="secondName"
               placeholder="{{ 'RegisterExpert.SecondNamePlaceholder' | translate }}" #required>
      </div>
      <div #birthDate class="row">
        <span class="col-2">{{ 'RegisterExpert.BirthDate' | translate }}</span>
        <p-calendar [showIcon]="true" class="padding-zero col-4" formControlName="birthDate"></p-calendar>
        <span class="col-2">{{ 'RegisterExpert.Sex' | translate }}</span>
        <p-dropdown class="col-4 padding-zero" [options]="sex" formControlName="selectedSex"></p-dropdown>
      </div>
      <div #place class="row">
        <span class="col-2">{{ 'RegisterExpert.Country' | translate }}</span>
        <p-dropdown class="col-4 padding-zero" [options]="countries" formControlName="country"></p-dropdown>
        <span class="col-2">{{ 'RegisterExpert.City' | translate }}</span>
        <input class="form-control col-4" formControlName="city">
      </div>
      <div class="row">
        <span class="col-2">{{ 'RegisterExpert.LinkedinLink' | translate }}</span>
        <input class="form-control col-10" formControlName="linkedin"
               placeholder="https://">
      </div>
      <div class="row">
        <span class="col-2">{{ 'RegisterExpert.FacebookLink' | translate }}</span>
        <input class="form-control col-10" formControlName="facebook"
               placeholder="https://" #required>
      </div>
      <div class="row">
        <span class="col-3">{{ 'RegisterExpert.UploadCv' | translate }}:</span>
        <p-fileUpload mode="advanced" auto="true" name="cv[]" customUpload="true" [showUploadButton]="false"
                      [showCancelButton]="false" accept=".pdf,.doc,.docx" maxFileSize="5242880"
                      (uploadHandler)="onCvUpload($event)">

        </p-fileUpload>
      </div>
    </div>
    <div [ngClass]="!isLetterShow ? '' : 'main-btn'" class="row">
      <button (click)="showNext()" class="col-3 btn btn-primary">{{ 'Application.Next' | translate }}
      </button>
    </div>
    <div [ngClass]="isLetterShow ? 'is-active' : ''" class="sw-card sw-content" style="padding: 2em;">
      <div class="row">
        <h3 class="col-10">{{ 'RegisterExpert.MotivationLetter' | translate }}</h3>
      </div>
      <div class="row-content">
        <div class="row">
          <span class="col-12">{{ 'RegisterExpert.Description' | translate }}</span>
        </div>
        <div class="row">
          <textarea class="form-control col-10 offset-2" formControlName="description" #required>
        </textarea>
        </div>
        <div class="row">
          <span class="col-12">{{ 'RegisterExpert.Why' | translate }}</span>
        </div>
        <div>
          <textarea class="form-control col-10 offset-2" formControlName="why" #required>
        </textarea>
        </div>
      </div>
    </div>
    <div [ngClass]="isLetterShow && !isKYCShow ? '' : 'legal-btn'" class="row">
      <button (click)="showNext()" class="col-3 btn btn-primary">{{ 'Application.Next' | translate }}
      </button>
    </div>
    <div [ngClass]="isKYCShow ? 'is-active' : ''" class="sw-card sw-content" style="padding: 2em;">
      <div class="row">
        <h3 class="col-10">{{ 'RegisterExpert.KYC' | translate }}</h3>
      </div>
      <div class="row-content">
        <div class="row">
          <span class="col-3">{{ 'RegisterExpert.DocumentType' | translate }}</span>
          <p-dropdown [style]="{'width':'140px'}" class="col-4 padding-zero" [options]="documentTypes"
                      formControlName="selectedDocumentType"></p-dropdown>
        </div>
        <div class="row">
          <span class="col-3">{{ 'RegisterExpert.DocumentNumber' | translate }}</span>
          <input class="form-control col-9" formControlName="number" #required>
        </div>
        <div class="row">
          <span class="col-3">{{ 'RegisterExpert.UploadDocument' | translate }}:</span>
          <p-fileUpload mode="advanced" auto="true" name="doc[]" customUpload="true" [showUploadButton]="false"
                        [showCancelButton]="false" name="document[]" customUpload="true" accept="image/*"
                        maxFileSize="5242880" (uploadHandler)="onDocumentUpload($event)">

          </p-fileUpload>
        </div>
        <div class="row">
          <span class="col-3">{{ 'RegisterExpert.UploadPhoto' | translate }}:</span>
          <p-fileUpload mode="advanced" auto="true" name="photo[]" customUpload="true" [showUploadButton]="false"
                        [showCancelButton]="false" name="document[]" customUpload="true" accept="image/*"
                        maxFileSize="5242880" (uploadHandler)="onPhotoUpload($event)">

          </p-fileUpload>
        </div>
      </div>
    </div>
    <div [ngClass]="isKYCShow ? '' : 'submit-btn'" class="row">
      <button (click)="applyAsync()" [disabled]="isProjectCreating" class="col-3 btn btn-primary">
        {{ 'Application.Submit' | translate }}
      </button>
    </div>
  </form>
</div>
