.dialog {
  padding: 20px !important;
  position: relative;
}
h2 {
  margin-bottom: 20px;
}
.save-btn {
  width: 144px;
  background: #EEEDF5;
  height: 70px;
  font-size: 24px;
  font-family: Roboto-Regular;
  font-weight: bold;
  line-height: 28px;
  border: none;
  color: #5D49F2;
  padding: 0;
  margin-top: 40px;
  cursor: pointer;
}
.actions-container {
  text-align: center;
}

.input {
  width: 100% !important;
}
.dialog-close {
  cursor: pointer;
  position: absolute;
  background-image: url(/assets/img/controls/cross.svg);
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  outline: none;
  top: 0;
  right: 0;
}