.submit-wrapper {
  margin: 40px 0 60px;
}
.group-wrapper {
  width: 1000px;
}
.area-title {
  font-size: 24px;
  font-family: Roboto-Bold;
  margin-bottom: 20px;
}
.area-title-row {
  margin-bottom: 20px;
  width: 990px;
}
.submit-btn {
  margin-right: 20px;
}
.answers-btn {
  float: right;
}
.control-label {
  margin-bottom: 4px;
}
.options-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.question {
  margin-bottom: 10px;
  font-family: Roboto-Bold;
  font-size: 14px;
  color: #000;
}

.save-label {
  opacity: 0;
  font-size: 12px;
  color: #a4a2b0;
  display: inline-block;
  margin-left: 20px;
  transition: opacity 0.2s ease-out 0.5s;
}

.label-visible {
  opacity: 1;
}

.label-btn {
  padding: 9px 20px;
}

.ghost-btn {
  display: inline-block;
  text-align: center;
  color: black;
  padding: 6px 20px;
  height: 36px;
  font-size: 14px;
}
