.submit-wrapper {
  margin: 40px 0 60px;
}
.group-wrapper {
  width: 790px;
}
.area-title {
  font-size: 24px;
  font-family: Roboto-Bold;
  margin-bottom: 20px;
}
.submit-btn {
  margin-right: 20px;
}
.control-label {
  margin-bottom: 4px;
}
.options-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.question {
  margin-bottom: 10px;
  font-family: Roboto-Bold;
  font-size: 14px;
  color: #000;
}
