.submit-wrapper {
  margin: 40px 0 60px;
}
.group-wrapper {
  width: 1000px;
}
.area-title {
  font-size: 24px;
  font-family: Roboto-Bold;
  margin-bottom: 20px;
}
.area-title-row {
  margin-bottom: 20px;
  width: 780px;
}
.submit-btn {
  margin-right: 20px;
}
.answers-btn {
  float: right;
}
.control-label {
  margin-bottom: 4px;
}
.options-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
.question {
  margin-bottom: 10px;
  font-family: Roboto-Bold;
  font-size: 14px;
  color: #000;
}

.settings-block {
  margin-bottom: 2px;
  width: 780px;
}
.settings-title {
  width: 780px;
}
.active-question {
  border: solid 2px #231a5d;
  .question-tooltip {
    display: block;
  }
}
.question-tooltip {
  display: none;
  min-height: 140px;
  margin-top: -18px;
  width: 380px;
  position: absolute;
  background-color: #222034;
  padding: 20px;
  right: 310px;
  &:before {
    content: '';
    width: 8px;
    height: 14px;
    position: absolute;
    left: -8px;
    top: 100px;
    border-style: solid;
    border-width: 7px 8px 7px 0;
    border-color: transparent #222034 transparent transparent;
  }
  .question-tooltip__title {
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #a4a2b0;
  }
  .info-title {
    font-family: Roboto-Bold;
    font-size: 12px;
    color: #fff;
    margin-bottom: 10px;
  }
  .info-description {
    font-size: 12px;
    text-align: left;
    color: #fff;
  }
}

.save-label {
  opacity: 0;
  font-size: 12px;
  color: #a4a2b0;
  display: inline-block;
  margin-left: 20px;
  transition: opacity 0.2s ease-out 0.5s;
}

.label-visible {
  opacity: 1;
}

.label-btn {
  padding: 9px 20px;
}

.ghost-btn {
  display: inline-block;
  text-align: center;
  color: black;
  padding: 6px 20px;
  height: 36px;
  font-size: 14px;
}

.social-icon {
  background: #fff;
}
.member-socials {
  margin-bottom: 10px;
}
.social-wrapper {
  a {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
  }
}
