.scoring-header{
  display: inline-block;
  padding: 0;
}
.scoring-header__country{
  color: rgba(0,0,0,0.5);
}
.scoring-header__title > span{
  display: block;
  margin: 5px 0px;
}
.scoring-header__title > span:first-child{
   font-size: 1.5em;
 }
.scoring-footer{
  text-align: right;
  max-width: calc(25% - 8px);
  display: inline-block;
  padding: 0;
  position: absolute;
  height: 100%;
}
.scoring-rating{
  display: inline-block;
}
.scoring-rating > span{
   display: block;
 }
.scoring-footer > a{
  float:right;
}
.scoring-content{
  display: inline-block;
  padding: 0;
}
.scoring-card{
  display: inline-block;
  margin: 0px;
  padding: 0px;
  margin-bottom: 1rem;
}
.scoring-card-block{
  position: relative;
  padding: 0px;
}
.scoring-card-block > div{
  padding: 40px;
  vertical-align: top;
 }
.scoring-rating > .score{
  font-size: 1.5em;
}
.scoring-projects{
  -webkit-box-flex: inherit;
  -ms-flex: inherit;
  flex: inherit;
   max-width: none;
   margin-left: -75px;
   margin-right: -75px;
   width: calc(100% + 165px);
  padding-right: 15px;
  padding-left: 15px;
}
