<div class="container">
  <div class="row mx-auto">
    <div class="col-8 sm-title">
      <h1>{{ 'Scoring.ProjectsForScoring' | translate }}</h1>
      <h4 style="margin-top: 2em;">Want to be Smart Valley expert?</h4>
      <p style="margin-bottom: 1em;">
        Please, follow the <a target="_blank" href="https://goo.gl/forms/Rb3ofgCNXXHorXq62">link</a> and complete the form. We will process your data and create your personal expert account.<br>
        We will be very glad to see you in Smart Valley expert community
      </p>
    </div>
  </div>
  <div class="row mx-auto" style="margin-top: 1.5em">
    <div class="col-12 scoring-projects">
      <div class="white-card">
        <div class="content">
          <span class="choose">{{ 'Scoring.ChooseExpertise' | translate }}</span>
          <mat-tab-group [selectedIndex]="selectedTabIndex"
                         (selectedIndexChange)="onExpertiseTabIndexChanged($event)">
            <mat-tab label="{{ 'Common.Hr' | translate }}">
              <div class="card" *ngFor="let project of projects;">
                <app-project-card [data]="project" [type]="ProjectCardType.Scoring"></app-project-card>
              </div>
            </mat-tab>
            <mat-tab label="{{ 'Common.Lawyer' | translate }}">
              <div class="card" *ngFor="let project of projects;">
                <app-project-card [data]="project" [type]="ProjectCardType.Scoring"></app-project-card>
              </div>
            </mat-tab>
            <mat-tab label="{{ 'Common.Analyst' | translate }}">
              <div class="card" *ngFor="let project of projects;">
                <app-project-card [data]="project" [type]="ProjectCardType.Scoring"></app-project-card>
              </div>
            </mat-tab>
            <mat-tab label="{{ 'Common.TechnicalExpert' | translate }}">
              <div class="card" *ngFor="let project of projects;">
                <app-project-card [data]="project" [type]="ProjectCardType.Scoring"></app-project-card>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
