<div class="container">
  <div class="row mx-auto">
    <div class="col-8 sm-title">
      <h1>Smart valley mvp</h1>
      <p>
      </p>
    </div>
  </div>
  <div class="row mx-auto">
    <ngb-tabset class="col-12 scoring-projects">
      <ngb-tab title="Project for scoring">
        <ng-template ngbTabContent>
          <div class="white-card">
            <div class="content">
              <span class="choose">Choose expertise</span>
              <mat-tab-group (selectedTabChange)="tabChanged($event)">
                <mat-tab label="HR">
                  <div class="card" *ngFor="let project of projectsForScorring;">
                    <app-project-card [project]="project" [isScoring]="true"></app-project-card>
                  </div>
                </mat-tab>
                <mat-tab label="Lawyer">
                  <div class="card" *ngFor="let project of projectsForScorring;">
                    <app-project-card [project]="project" [isScoring]="true"></app-project-card>
                  </div>
                </mat-tab>
                <mat-tab label="Analyst">
                  <div class="card" *ngFor="let project of projectsForScorring;">
                    <app-project-card [project]="project" [isScoring]="true"></app-project-card>
                  </div>
                </mat-tab>
                <mat-tab label="Technical expert">
                  <div class="card" *ngFor="let project of projectsForScorring;">
                    <app-project-card [project]="project" [isScoring]="true"></app-project-card>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="My projects">
        <ng-template ngbTabContent>
          <div class="white-card">
            <div class="content">
              <div *ngIf="myProjects.length > 0; else withoutProject">
                <div class="card col-12 scoring-card" *ngFor="let project of myProjects;">
                  <app-project-card [project]="project"
                                    [isScoring]="false"></app-project-card>
                </div>
              </div>
            </div>
          </div>
          <ng-template #withoutProject>
            <div class="without-project">
              <button mat-raised-button class="col-5 sv-default-btn btn-space" (click)="createProject()">Create a
                new project for scoring
              </button>
            </div>
          </ng-template>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
