<div class="container">
  <div class="row mx-auto">
    <div class="col-8 sm-title">
      <h1>Smart valley mvp</h1>
      <p>
      </p>
    </div>
    <ngb-tabset class="col-12 scoring-projects">
      <ngb-tab title="Project for scoring">
        <ng-template ngbTabContent>
          <span class="choose">Choose expertise</span>
          <mat-tab-group (selectedTabChange)="tabChanged($event)">
            <mat-tab label="HR">
              <div class="card col-12 scoring-card" *ngFor="let scoring of scorings;">
              <app-project-card [project] = scoring></app-project-card>
              </div>
            </mat-tab>
            <mat-tab label="Lawyer">
              <div class="card col-12 scoring-card" *ngFor="let scoring of scorings;">
                <app-project-card [project] = scoring></app-project-card>
              </div>
            </mat-tab>
            <mat-tab label="Analyst">
              <div class="card col-12 scoring-card" *ngFor="let scoring of scorings;">
                <app-project-card [project] = scoring></app-project-card>
              </div>
            </mat-tab>
            <mat-tab label="Technical expert">
              <div class="card col-12 scoring-card" *ngFor="let scoring of scorings;">
                <app-project-card [project] = scoring></app-project-card>
              </div>
            </mat-tab>
          </mat-tab-group>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="My projects">
        <ng-template ngbTabContent>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>
