.title {
  width: 119px;
  height: 40px;
  font-family: Roboto-Bold;
  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.1px;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}

.control-label {
  min-width: 113.6px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #000000;
  cursor: pointer;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    font-size: 16px;
  }
}

.filters-wrapper {
  display: flex;
  margin-top: 20px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    display: block;
  }
}

p {
  margin: 0;
}

.apply-filters {
  margin: 20px 0;
}

.filter-item {
  margin-right: 20px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    margin: 0 0 20px 0;
  }
}

.filter-item:last-child {
  margin-right: 0;
}

.search-input {
  width: 533px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    width: 100%;
  }
}

.projects-table {
  @media screen and (min-width: 320px) and (max-width: 768px) {
    display: none;
  }
}

.apply-filters-mobile {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .apply-filters {
    display: none;
  }
  .apply-filters-mobile {
    display: block;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.projects-table-mobile {
  display: none;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    display: block;
  }
}

.search-submit {
  border-radius: 0 30px 30px 0 !important;
  min-width: 95px;
  position: absolute;
  right: 0;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    display: none;
  }
}

.search-controls-wrapper {
  position: relative;
  padding-bottom: 16px;
  width: 580px;
  height: 36px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    width: 100%;
  }
}

.clear-form {
  cursor: pointer;
  font-family: Roboto-Bold;
  color: #a4a2b0;
  display: inline-block;
  margin-left: 20px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    font-size: 16px;
    text-align: center;
    display: block;
    margin: 0;
  }
}

.scoring-input {
  width: 76px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    width: 43%;
  }
}
.dash {
  @media screen and (min-width: 320px) and (max-width: 768px) {
    text-align: center;
    display: inline-block;
    width: 10%;
  }
}

.empty-result {
  margin-top: 20px;
  margin-bottom: 300px;
}

.empty-result__title {
  font-family: Roboto-Regular;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -0.1px;
  text-align: left;
  color: #a4a2b0;
}

.email {
  margin-bottom: 160px;
  margin-top: 20px;
  position: relative;
  width: 380px;
  height: 60px;
}

.email-input {
  width: 333px;
  height: 36px;
}

.email__button {
  border-radius: 0 30px 30px 0 !important;
  min-width: 95px;
  position: absolute;
  right: 0;
}

.empty-result__text {
  width: 621px;
  height: 20px;
  font-family: Roboto-Regular;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #000000;
  margin-top: 20px;
}

.table th {
  padding: 24px 0px 24px 40px !important;
}

.scoring-input::-webkit-outer-spin-button,
.scoring-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scoring-col {
  width: 46px;
  height: 20px;
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  text-align: left;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    text-align: right;
    width: auto;
    span {
      font-size: 20px;
    }
  }
}

.mobile-row {
  display: flex;
}

.project-name {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    margin-bottom: 15px;
    a {
      font-size: 20px;
    }
  }
}

.desc-label {
  color: #a4a2b0;
}

.table__name_col {
  width: 346px;
}

.col-details {
  width: 40%;
}
.col-info {
  width: 60%;
}

.col-details {
  text-align: right;
}

.details-btn {
  height: 24px;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
  padding: 0 15px;
}
