<div class="container">
  <div class="row mx-auto">
    <div class="col-8 sm-title">
      <h1>instruction</h1>
      <h3>
        You need metamask if you want to use the prototype
      </h3>
      <p></p>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-12 sw-card">
      <div class="sw-card-content">
        <h3>1st step</h3>
        <p></p>
        <div class="text-center">
          <img style="width: 800px;" src="https://image.ibb.co/mVRNTR/image.png"/>
        </div>
      </div>
      <div class="sw-card-content">
        <h3>2nd step</h3>
        <p></p>
        <div class="text-center">
          <img style="width: 800px;" src="https://preview.ibb.co/fZxU8R/image_1.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-4" style="margin: 20px 0 0 0; padding: 0;">
      <a href="#" class="col-6 sw-project-btn btn btn-primary">Get Ether</a>
    </div>
  </div>
</div>

