<button class="dialog-close" mat-dialog-close><i class="material-icons">close</i></button>
<h2>{{ 'InvestModalComponent.Title' | translate }}</h2>
<form [formGroup]="investForm" (ngSubmit)="submit()">
  <div class="form-control-row">
    <p class="control-label">
      <label for="sum">{{ 'InvestModalComponent.HowMuch' | translate }}</label>
    </p>
    <input class="input" type="text" id="sum" name="sum" [formControlName]="'sum'" placeholder="{{ 'InvestModalComponent.SumPlaceholder' | translate }}">
  </div>

  <div class="form-control-row">
    <p class="control-label">
      <label for="name">{{ 'InvestModalComponent.Name' | translate }}</label>
    </p>
    <input class="input" type="text" id="name" name="name" [formControlName]="'name'" placeholder="{{ 'InvestModalComponent.NamePlaceholder' | translate }}">
  </div>

  <div class="form-control-row">
    <p class="control-label">
      <label for="email">{{ 'InvestModalComponent.Email' | translate }}</label>
    </p>
    <input class="input" type="text" id="email" name="email" [formControlName]="'email'" placeholder="{{ 'InvestModalComponent.EmailPlaceholder' | translate }}">
  </div>

  <div class="form-control-row">
    <p class="control-label">
      <label for="phone">{{ 'InvestModalComponent.Phone' | translate }}</label>
    </p>
    <input type="text" class="input" name="phone" id="phone" [formControlName]="'phone'" placeholder="{{ 'InvestModalComponent.PhonePlaceholder' | translate }}">
  </div>

  <div class="form-control-row">
    <input type="submit" [disabled]="!investForm.valid" value="{{ 'InvestModalComponent.Send' | translate }}" class="main-btn">
  </div>
</form>