<div class="container">
  <div class="row mx-auto">
    <div class="col-8 sm-title">
      <h1>{{ 'Common.Title' | translate }}</h1>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-6 sv-description d-flex align-items-end">
      <h2 class="">{{ 'CompletedVoting.CompletedVotes' | translate }}</h2>
    </div>
  </div>
  <div *ngIf="canVote" class="row mx-auto">
    <a style="height: 3.6em; margin-top: 2.4em;" class="col-2 sv-default-btn btn btn-primary"
       (click)="navigateToVoting()">{{ 'CompletedVoting.CurrentVoting' | translate }}</a>
  </div>
  <div class="row mx-auto" *ngIf="sprint">
    <div class="sw-list-projects">
      <div class="card_no_shdw col-12 sw-card" style="margin: 0 0 20px 0" *ngFor="let project of projects;">
        <app-project-card [data]="project" [votingAcceptanceThreshold]="sprint.acceptanceThreshold" [totalVotes]="sprint.maximumScore" [type]="ProjectCardType.Voting"></app-project-card>
      </div>
    </div>
  </div>
</div>
