<div class="fix-container">
  <button class="dialog-close" mat-dialog-close><i class="material-icons">close</i></button>
  <h2>{{ 'ReceiveTokensModal.Title' | translate }}</h2>

  <form (ngSubmit)="submit()">
    <div>
      <span>{{ 'ReceiveTokensModal.TotalTokens' | translate }}</span>
      <span class="value">{{ data.totalTokens | formatNumber }} {{data.tokenTicker}}</span>
    </div>
    <div>
      <span>{{ 'ReceiveTokensModal.TotalBet' | translate }}</span>
      <span class="value">{{ data.totalBet | formatNumber }} SVT</span>
    </div>
    <div>
      <span>{{ 'ReceiveTokensModal.YourBet' | translate }}</span>
      <span class="value">{{ data.userBet | formatNumber }} SVT</span>
    </div>
    <div class="your-tokens">
      <span>{{ 'ReceiveTokensModal.YourTokens' | translate }}</span>
      <span class="value">{{ data.userTokens | formatNumber }} {{ data.tokenTicker }}</span>
    </div>
    <div class="actions-container">
      <button (click)="submit()" class="material-btn material-btn__action save-btn">{{ 'ReceiveTokensModal.ReceiveBtn' | translate }}
      </button>
    </div>
  </form>
</div>
