<div class="fix-container">
  <button class="dialog-close" mat-dialog-close></button>
  <h2>{{ 'ReceiveTokensModal.Title' | translate }}</h2>

  <form (ngSubmit)="submit()">
    <div>
      <span>{{ 'ReceiveTokensModal.TotalTokens' | translate }}</span>
      <span class="value">{{ data.totalTokens | formatNumber: 0: data.tokenDecimals }} {{data.tokenTicker}}</span>
    </div>
    <div>
      <span>{{ 'ReceiveTokensModal.TotalBid' | translate }}</span>
      <span class="value">{{ data.totalBid | formatNumber: 3: data.svtDecimals }} SVT</span>
    </div>
    <div>
      <span>{{ 'ReceiveTokensModal.YourBid' | translate }}</span>
      <span class="value">{{ data.userBid | formatNumber: 3: data.svtDecimals }} SVT</span>
    </div>
    <div class="your-tokens">
      <span>{{ 'ReceiveTokensModal.YourTokens' | translate }}</span>
      <span class="value">{{ data.userTokens | formatNumber: 0: data.tokenDecimals }} {{ data.tokenTicker }}</span>
    </div>
    <div class="actions-container">
      <button (click)="submit()" class="material-btn material-btn__action save-btn">{{ 'ReceiveTokensModal.ReceiveBtn' | translate }}
      </button>
    </div>
  </form>
</div>
