@import "../../../../styles/fonts";

.save-btn {
  width: 272px;
  background: #EEEDF5;
  height: 70px;
  font-size: 24px;
  font-family: Roboto-Regular;
  font-weight: bold;
  line-height: 28px;
  border: none;
  color: #5D49F2;
  padding: 0;
  margin-top: 40px;
  cursor: pointer;
}

.actions-container {
  text-align: center;
}

.fix-container {
  position: relative;
  padding: 16px;
  h2 {
    font-family: $font-pt-narrow;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
  }
}

.dialog-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 36px;
  height: 36px;
  background-color: rgba(216, 216, 216, 0);
  font-size: 37px;
  cursor: pointer;
  user-select: none;
  border: none;
  padding: 0;
  outline: none;
}

.input {
  width: 100% !important;
}

.value {
  float: right;
  margin-right: 95px;
}

.your-tokens {
  margin-top: 20px;
  span {
    color: #828282;
    line-height: 31px;
    font-size: 24px;
    font-weight: bold;
  }
  .value {
    margin-right: 0 !important;
  }
}
