<div class="start-allotment-event">
  <h2>{{ 'StartAllotmentEventModalComponent.Title' | translate }}</h2>
  <h3>{{ 'StartAllotmentEventModalComponent.SubTitle' | translate }}</h3>
  <div class="control-cols">
    <div class="first-col">
      <div class="control-row">
        <p class="control-label">
          <label>{{ 'StartAllotmentEventModalComponent.ProjectName' | translate }}</label>
        </p>
        <input class="input input-wide" disabled="disabled" value="{{data.name}}">
      </div>
      <div class="control-row">
        <p class="control-label">
          <label>{{ 'StartAllotmentEventModalComponent.AllotmentEventName' | translate }}</label>
        </p>
        <input class="input input-wide" disabled="disabled" value="">
      </div>
      <div class="control-row">
        <p class="control-label">
          <label>{{ 'StartAllotmentEventModalComponent.TokenAddress' | translate }}</label>
        </p>
        <input class="input input-wide" value="{{data.tokenContractAddress}}" disabled="disabled">
      </div>
      <div class="control-row">
        <p class="control-label">
          <label>{{ 'StartAllotmentEventModalComponent.TokenTicker' | translate }}</label>
        </p>
        <input class="input input-wide" value="{{data.tokenTicker}}" disabled="disabled">
      </div>
    </div>
    <div>
      <div class="control-row">
        <p class="control-label">
          <label>{{ 'StartAllotmentEventModalComponent.TokenDecimals' | translate }}</label>
        </p>
        <input class="input input-wide" value="{{data.tokenDecimals}}" disabled="disabled">
      </div>
      <div class="control-row">
        <p class="control-label">
          <label>{{ 'StartAllotmentEventModalComponent.FinishDate' | translate }}</label>
        </p>
        <input class="input input-wide" value="{{data.finishDate}}" disabled="disabled">
      </div>
      <div class="control-row">
        <p class="control-label">
          <label>{{ 'StartAllotmentEventModalComponent.FreezeTime' | translate }}</label>
        </p>
        <input class="input input-wide" disabled="disabled">
      </div>
    </div>
  </div>
  <div class="start-btn-wrapper">
    <button (click)="submit(true)" class="material-btn">{{ 'StartAllotmentEventModalComponent.Start' | translate }}</button>
  </div>
</div>