<div class="container">
  <div class="row mx-auto">
      <h1 class="title">{{ 'AdminPanel.Title' | translate }}</h1>
  </div>
  <mat-tab-group class="tab">
    <mat-tab label="{{ 'AdminPanel.AdminsTab' | translate }}">
      <p-dataTable [value]="admins">
        <p-column [style]="{'width': '24.4em'}" field="address" header="Address"></p-column>
        <p-column field="email" header="Email"></p-column>
        <p-column header="Actions">
          <ng-template let-admin="rowData" pTemplate type="body">
            <button (click)="deleteAsync(admin.address)" class="btn btn-link">
              {{ 'AdminPanel.Delete' | translate }}
            </button>
          </ng-template>
        </p-column>
      </p-dataTable>
      <div class="row mx-auto">
        <a class="main-btn button-link"
           (click)="createAsync()">{{ 'AdminPanel.Create' | translate }}
        </a>
      </div>
    </mat-tab>
    <mat-tab label="{{ 'AdminPanel.ExpertsTab' | translate }}">
      <ngb-tabset type="pills">
        <ngb-tab title="Experts list">
          <ng-template ngbTabContent>
            <app-admin-experts-list></app-admin-experts-list>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="Applications">
          <ng-template ngbTabContent>
            <app-admin-expert-applications-list></app-admin-expert-applications-list>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </mat-tab>
    <mat-tab label="{{ 'AdminPanel.ScoringTab' | translate }}">
      <app-admin-scoring-projects></app-admin-scoring-projects>
    </mat-tab>
  </mat-tab-group>
</div>
