<div class="container">
  <div class="row mx-auto">
    <div class="col-6 sv-description d-flex align-items-end">
      <h2 class="">{{ 'AdminPanel.Title' | translate }}</h2>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="{{ 'AdminPanel.AdminsTab' | translate }}">
      <div class="row mx-auto">
        <div class="col-2" style="padding-left: 0">
          <a class="col-12 sv-default-btn btn btn-primary"
             (click)="createAsync()">{{ 'AdminPanel.Create' | translate }}
          </a>
        </div>
      </div>
      <p-dataTable [value]="admins">
        <p-column [style]="{'width': '24.4em'}" field="address" header="Address"></p-column>
        <p-column field="email" header="Email"></p-column>
        <p-column header="Actions">
          <ng-template let-admin="rowData" pTemplate type="body">
            <button (click)="deleteAsync(admin.address)" class="btn btn-link">
              {{ 'AdminPanel.Delete' | translate }}
            </button>
          </ng-template>
        </p-column>
      </p-dataTable>
    </mat-tab>
    <mat-tab label="{{ 'AdminPanel.ExpertsTab' | translate }}">
      <ngb-tabset type="pills">
        <ngb-tab title="Experts list">
          <ng-template ngbTabContent>
        </ng-template>
        </ngb-tab>
        <ngb-tab title="Applications">
          <ng-template ngbTabContent>
            <app-admin-expert-applications-list></app-admin-expert-applications-list>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </mat-tab>
    <mat-tab label="{{ 'AdminPanel.ScoringTab' | translate }}">
    </mat-tab>
  </mat-tab-group>
</div>
