<div class="expert-score-items-wrapper">
  <div *ngFor="let scoringItem of expertScoring" class="expert-score-item">
    <div class="name">
      <p>
        <img class="project-image" src="{{scoringItem.projectImage}}" alt="{{scoringItem.description}}">
      </p>
      <p class="project-name-description">{{scoringItem.name}}</p>
      <p class="project-name-description">{{scoringItem.country}}</p>
      <p class="project-name-description">{{scoringItem.projectArea}}</p>
    </div>
    <div class="description">
      {{scoringItem.description}}
    </div>
    <div class="scoring-control">
        <p>{{ 'ExpertWorkPlace.Till' | translate }} {{scoringItem.estimatesDueDate | translate}}</p>
      <p>
        <button mat-raised-button (click)="navigateToEstimate(scoringItem.projectId, scoringItem.area)" class="sv-default-btn btn-space">
          {{ 'ExpertWorkPlace.EstimateAs' | translate }}{{scoringItem.projectArea}}
        </button>
      </p>
    </div>
  </div>
</div>
