<div *ngIf="isLoaded" style="max-height: 60vh;">
  <h2 mat-mat-title>Scoring cost</h2>
  <hr>
  <form [formGroup]="scoringCostForm" novalidate>
    <div *ngFor="let area of scoringCostForm.get('areas')['controls'];"class="row">
      <div [formGroup]="area">
        <span class="col-6">
          <mat-form-field>
            <p>{{area.value.name}}</p>
          <input matInput formControlName="cost" #required>
        </mat-form-field>
        </span>
      </div>
    </div>
    <mat-dialog-actions class="d-flex justify-content-center">
      <button mat-raised-button (click)="submitAsync()" class="col-6 sv-default-btn btn-space">
        Save changes
      </button>
    </mat-dialog-actions>
  </form>
</div>
